{% extends '../../base.html' %}
{% load static %}

{% block title %} View Article | {% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'src/css/announcement.css' %}">
{% endblock %}

{% block content %}
<!-- Content Header -->
<section class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h5 class="font-weight-bolder">View Article</h5>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right text-xs">
               <li class="breadcrumb-item"><a href="{% url 'home' %}" class="btn-link-orange"><i class="fas fa-home"></i></a></li>
               <li class="breadcrumb-item">Announcement</li>
               <li class="breadcrumb-item"> <a href="{% url 'announcement' %}" class="btn-link-neutral">List</a> </li>
               <li class="breadcrumb-item active" data-article-id="{{article.id}}">Article: {{article.title|truncatechars:25}}</li>
            </ol>
         </div>
      </div>
   </div>
</section>

<!-- /.content -->
<section class="content pb-4">
   <div class="container-fluid">
      <div class="overlay d-none"></div>
      
      {% if perms.announcement.add_article and perms.announcement.change_article %}
      <div class="d-flex flex-row-reverse mb-1">
         <a href="{% url 'change_article' article.pk %}" class="btn btn-light text-secondary ml-2" data-article-id="{{article.pk}}">
            <i class="fas fa-sm fa-pencil-alt"></i> <span>Update Article</span> 
         </a>
      </div>
      {% endif %}

      <div class="row">
         <div class="col-12 col-sm-12 col-md-12 col-lg-8">
            <div class="row d-lg-none" id="row-details-mobile">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <div class="card-header d-flex align-items-center px-2 py-1">
                        <div class="card-title">Details</div>
                        <div class="card-tools ml-auto">
                           <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails"></button>
                        </div>
                     </div>
                     <div id="collapseDetails" class="collapse show">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-detail mt-2 mb-1">
                                        <div class="card-body p-0 m-0">
                                        <p class="context text-truncate">{{article.author}}</p>
                                        <span class="label">Author</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                        <p class="context text-truncate">{{article.date_publish|date:"d F Y h:i A"}}</p>
                                        <span class="label">Date Requested</span>
                                    </div>
                                    </div>
                                </div>
                                {% if article.modified_at %}
                                <div class="col-12">
                                    <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                        <p class="context text-truncate">{{article.modified_at|date:"d F Y h:i A"}} {% if article.modified_by %} | {{article.modified_by}} {% endif %}</p>
                                        <span class="label">Last Modified</span>
                                    </div>
                                    </div>
                                </div>
                                {% endif %}
                                 <div class="col-12">
                                    <div class="card card-detail mt-2 mb-1">
                                       <div class="card-body p-0 m-0">
                                       <div class="mr-auto">
                                          <p class="context">{% if article.is_active %} Active {% else %} In Active {% endif %}</p>
                                          <span class="label">Is Active</span>
                                       </div>
                                       </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                     </div>
                  </div>   
               </div>
            </div> 
              <div class="row" id="row-headline">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1"  style="border-bottom-left-radius: 5px !important;">
                     <div class="card-header d-flex align-items-center px-2 py-1">
                        <div class="card-title">Headline</div>
                        <div class="card-tools ml-auto">
                              <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseHeadline" aria-expanded="false" aria-controls="collapseHeadline"></button>
                        </div>
                     </div>
                     <div id="collapseHeadline" class="collapse show">
                        <div class="card-body p-3">
                           <h6 class="font-weight-bold text-orange m-0"> {{article.title}} </h6>
                           <hr class="my-2">
                           <p class="preface m-0">{{ article.preface }}</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>  
            <div class="row" id="row-body">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1"  style="border-bottom-left-radius: 5px !important;">
                     <div class="card-header d-flex align-items-center px-2 py-1">
                        <div class="card-title">Body</div>
                        <div class="card-tools ml-auto">
                              <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseBody" aria-expanded="false" aria-controls="collapseBody"></button>
                        </div>
                     </div>
                     <div id="collapseBody" class="collapse show">
                        <div class="card-body p-3">
                           {% if article.content %}
                           <div id="content_preview">
                              {{article.content|safe}}
                           </div>
                           {% else %}
                           <div class="d-flex flex-column text-center">
                              <div class="state-icon"><i class="fas fa-quote-left"></i></div>
                              <p class="m-0 state-text">No body composed</p>
                           </div>
                           {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row d-lg-none" id="row-recources-mobile">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <div class="card-header d-flex align-items-center px-2 py-1">
                        <div class="card-title d-flex align-items-center"> 
                           <span>Resources</span> 
                           <span class="badge badge-secondary mx-1">{{article.resources.count}}</span>
                        </div>
                        <div class="card-tools ml-auto">
                              <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseResources" aria-expanded="false" aria-controls="collapseResources"></button>
                        </div>
                     </div>
                     <div id="collapseResources" class="collapse show">
                        <div class="card-body p-3">
                           {% if article.resources.all|length > 0 %}
                           <div class="row file-upload-wrap" id="upload_wrapper">
                              {% for resource in article.resources.all %}
                                 <div class="col file-item">
                                    <a href="{{resource.file.url}}" target="_blank" class="file-anchor">
                                       <div class="card">
                                          <div class="d-flex flex-row align-items-center p-2">
                                             {% comment %}
                                                //// create array to check file type for icon display
                                             {% endcomment %}
                                             {% with text='text/plain' pdf='application/pdf' spreadsheet='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet application/vnd.ms-excel application/vnd.oasis.opendocument.spreadsheet text/csv' document='application/vnd.openxmlformats-officedocument.wordprocessingml.document application/msword application/vnd.oasis.opendocument.text' presentation='application/vnd.openxmlformats-officedocument.presentationml.presentation application/vnd.ms-powerpoint application/vnd.oasis.opendocument.presentation' image='image/png image/jpeg'%}
                                                {% if resource.file_type in text.split %}
                                                   <div class="far fa-3x fa-file-alt"></div>
                                                {% elif resource.file_type in pdf.split %}
                                                   <div class="far fa-3x fa-file-pdf text-danger"></div>
                                                {% elif resource.file_type in spreadsheet.split %}
                                                   <div class="far fa-3x fa-file-excel text-success"></div>
                                                {% elif resource.file_type in document.split %}
                                                   <div class="far fa-3x fa-file-word text-primary"></div>
                                                {% elif resource.file_type in presentation.split %}
                                                   <div class="far fa-3x fa-file-powerpoint text-orange"></div>
                                                {% elif resource.file_type in image.split %}
                                                   <div class="far fa-3x fa-file-image text-warning"></div>
                                                {% endif %}
                                             {% endwith %}                                      
                                              <div class="card-body p-0 ml-2">
                                                  <p class="m-0 font-weight-bold">{{resource.file_name}}</p>
                                                  <small class="text-muted">{{resource.file.size|filesizeformat}}</small>
                                              </div>
                                          </div>
                                      </div>
                                    </a>
                                </div>
                              {% endfor %}
                           </div>
                           {% else %}
                           <div class="d-flex flex-column text-center">
                              <div class="state-icon"><i class="fas fa-file"></i></div>
                              <p class="m-0 state-text">No files attached yet</p>
                           </div>
                           {% endif %}    
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-12 col-sm-12 col-md-12 col-lg-4 d-none d-lg-block">                     
            <div class="row" id="row-details">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <div class="card-header d-flex align-items-center px-2 py-1">
                        <div class="card-title">Details</div>
                        <div class="card-tools ml-auto">
                           <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails"></button>
                        </div>
                     </div>
                     <div id="collapseDetails" class="collapse show">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-detail mt-2 mb-1">
                                        <div class="card-body p-0 m-0">
                                        <p class="context text-truncate">{{article.author}}</p>
                                        <span class="label">Author</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                        <p class="context text-truncate">{{article.date_publish|date:"d F Y h:i A"}}</p>
                                        <span class="label">Date Requested</span>
                                    </div>
                                    </div>
                                </div>
                                {% if article.modified_at %}
                                <div class="col-12">
                                    <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                        <p class="context text-truncate">{{article.modified_at|date:"d F Y h:i A"}} {% if article.modified_by %} | {{article.modified_by}} {% endif %}</p>
                                        <span class="label">Last Modified</span>
                                    </div>
                                    </div>
                                </div>
                                {% endif %}
                                 <div class="col-12">
                                       <div class="card card-detail mt-2 mb-1">
                                          <div class="card-body p-0 m-0">
                                          <div class="mr-auto">
                                             <p class="context">{% if article.is_active %} Active {% else %} In Active {% endif %}</p>
                                             <span class="label">Is Active</span>
                                          </div>
                                          </div>
                                       </div>
                                 </div>
                            </div>
                        </div>
                     </div>
                  </div>   
               </div>
            </div>
            <div class="row" id="row-recources">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <div class="card-header d-flex align-items-center px-2 py-1">
                        <div class="card-title d-flex align-items-center"> 
                           <span>Resources</span> 
                           <span class="badge badge-secondary mx-1">{{article.resources.count}}</span>
                        </div>
                        <div class="card-tools ml-auto">
                           <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseResources" aria-expanded="false" aria-controls="collapseResources"></button>
                        </div>
                     </div>
                     <div id="collapseResources" class="collapse show">
                        <div class="card-body p-3">
                           {% if article.resources.all|length > 0 %}
                           <div class="row file-upload-wrap" id="side_upload_wrapper">
                              {% for resource in article.resources.all %}
                                 <div class="col file-item">
                                    <a href="{{resource.file.url}}" target="_blank" class="file-anchor">
                                       <div class="card">
                                          <div class="d-flex flex-row align-items-center p-2">
                                             {% comment %}
                                                //// create array to check file type for icon display
                                             {% endcomment %}
                                             {% with text='text/plain' pdf='application/pdf' spreadsheet='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet application/vnd.ms-excel application/vnd.oasis.opendocument.spreadsheet text/csv' document='application/vnd.openxmlformats-officedocument.wordprocessingml.document application/msword application/vnd.oasis.opendocument.text' presentation='application/vnd.openxmlformats-officedocument.presentationml.presentation application/vnd.ms-powerpoint application/vnd.oasis.opendocument.presentation' image='image/png image/jpeg'%}
                                                {% if resource.file_type in text.split %}
                                                   <div class="far fa-3x fa-file-alt"></div>
                                                {% elif resource.file_type in pdf.split %}
                                                   <div class="far fa-3x fa-file-pdf text-danger"></div>
                                                {% elif resource.file_type in spreadsheet.split %}
                                                   <div class="far fa-3x fa-file-excel text-success"></div>
                                                {% elif resource.file_type in document.split %}
                                                   <div class="far fa-3x fa-file-word text-primary"></div>
                                                {% elif resource.file_type in presentation.split %}
                                                   <div class="far fa-3x fa-file-powerpoint text-orange"></div>
                                                {% elif resource.file_type in image.split %}
                                                   <div class="far fa-3x fa-file-image text-warning"></div>
                                                {% endif %}
                                             {% endwith %}                                      
                                              <div class="card-body p-0 ml-2">
                                                  <p class="m-0 font-weight-bold">{{resource.file_name}}</p>
                                                  <small class="text-muted">{{resource.file.size|filesizeformat}}</small>
                                              </div>
                                          </div>
                                      </div>
                                    </a>
                                </div>
                              {% endfor %}
                           </div>
                           {% else %}
                           <div class="d-flex flex-column text-center">
                              <div class="state-icon"><i class="fas fa-file"></i></div>
                              <p class="m-0 state-text">No files attached yet</p>
                           </div>
                           {% endif %}                          
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div> 
      </div>
   </div>
</section>
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tinymce/jquery.tinymce.min.js' %}"></script>
{% endblock %}