{% extends '../../base.html' %}
{% load static %}

{% block title %} Update Article | {% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'src/css/announcement.css' %}">
{% endblock %}

{% block content %}
<!-- Content Header -->
<section class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h5 class="font-weight-bolder">Update Article</h5>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right text-xs">
               <li class="breadcrumb-item"><a href="{% url 'home' %}" class="btn-link-orange"><i
                        class="fas fa-home"></i></a></li>
               <li class="breadcrumb-item">Announcement</li>
               <li class="breadcrumb-item"> <a href="{% url 'announcement' %}" class="btn-link-neutral">List</a> </li>
               <li class="breadcrumb-item"> <a href="{% url 'view_article' article.pk %}" class="btn-link-neutral">View</a> </li>
               <li class="breadcrumb-item active" data-article-id="{{article.id}}">Article: {{article.title|truncatechars:25}}</li>
            </ol>
         </div>
      </div>
   </div>
</section>

<!-- /.content -->
<section class="content">
    <div class="container-fluid">
        <div class="overlay d-none"></div>
        <div class="d-flex flex-row-reverse mb-1">
            <a href="{% url 'view_article' article.pk %}" class="btn btn-light text-secondary" id="btn_view">
                <i class="fas fa-sm fa-eye"></i> <span>View As</span> 
            </a>
        </div>
        
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8">
                <div class="row d-lg-none" id="row-details-mobile">
                    <div class="col-12 order-1">
                       <div class="card card-form mt-2 mb-1">
                            <div class="card-header d-flex align-items-center px-2 py-1">
                                <div class="card-title">Details</div>
                                <div class="card-tools ml-auto">
                                    <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseInformation" aria-expanded="false" aria-controls="collapseInformation"></button>
                                </div>
                            </div>
                          <div id="collapseDetails" class="collapse show">
                             <div class="card-body p-3">
                                 <div class="row">
                                     <div class="col-12">
                                         <div class="card card-detail mt-2 mb-1">
                                             <div class="card-body p-0 m-0">
                                             <p class="context text-truncate">{{article.author}}</p>
                                             <span class="label">Author</span>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="col-12">
                                         <div class="card card-detail mt-2 mb-1">
                                         <div class="card-body p-0 m-0">
                                             <p class="context text-truncate">{{article.date_publish|date:"d F Y h:i A"}}</p>
                                             <span class="label">Date Requested</span>
                                         </div>
                                         </div>
                                     </div>
                                     {% if article.modified_at %}
                                    <div class="col-12">
                                        <div class="card card-detail mt-2 mb-1">
                                        <div class="card-body p-0 m-0">
                                            <p class="context text-truncate">{{article.modified_at|date:"d F Y h:i A"}} {% if article.modified_by %} | {{article.modified_by}} {% endif %}</p>
                                            <span class="label">Last Modified</span>
                                        </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                     <div class="col-12">
                                         <div class="card card-detail mt-2 mb-1">
                                            <div class="card-body p-0 m-0 d-flex align-items-center">
                                                <div class="mr-auto">
                                                   <p class="context">{% if article.is_active %} Active {% else %} In Active {% endif %}</p>
                                                   <span class="label">Is Active</span>
                                                </div>
                                                <div class="custom-control custom-switch">
                                                   <input type="checkbox" class="custom-control-input" id="is_active_switch_mobile" {% if article.is_active %} checked {% endif %} >
                                                   <label class="custom-control-label" for="is_active_switch_mobile"></label>
                                                </div>
                                            </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                          </div>
                       </div>   
                    </div>
                </div>
                <div class="row" id="row-headline">
                    <div class="col-12">
                        <div class="card card-form shadow-sm mt-2 mb-1">
                            <div class="card-header d-flex align-items-center px-2 py-1">
                                <div class="card-title">Headline</div>
                                <div class="card-tools ml-auto">
                                    <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseInformation" aria-expanded="false" aria-controls="collapseInformation"></button>
                                </div>
                            </div>
                            <div id="collapseHeadLine" class="collapse show">
                                <div class="card-body p-3">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label>Title <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control form-control-sm form-text-required" placeholder="Enter article title" id="txt_title" value="{{article.title}}">
                                                <small class="error-info" id="title_error"></small>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Preface <span class="text-danger">*<span></label>
                                                <textarea type="text" class="form-control form-control-sm form-text-required" placeholder="Enter article preface" id="txt_preface" maxlength=255>{{article.preface}}</textarea>
                                                <div class="d-flex">
                                                    <small class="error-info" id="preface_error"></small>
                                                    <small class="text-black-50 ml-auto"><span id="char_count">0</span>/255</small>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="row-body">
                    <div class="col-12">
                        <div class="card card-form shadow-sm mt-2 mb-1">
                            <div class="card-header d-flex align-items-center px-2 py-1">
                                <div class="card-title">Body</div>
                                <div class="card-tools ml-auto">
                                    <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseBody" aria-expanded="false" aria-controls="collapseBody"></button>
                                </div>
                            </div>
                            <div id="collapseBody" class="collapse show">
                                <div class="card-body p-3">
                                    <textarea class="form-control" placeholder="Type the content here!" id="txt_content">{{article.content|safe}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-lg-none" id="row-recources-mobile">
                    <div class="col-12">
                       <div class="card card-form mt-2 mb-1">
                            <div class="card-header d-flex align-items-center px-2 py-1">
                                <div class="card-title d-flex align-items-center"> 
                                    <span>Resources</span> 
                                    <span class="badge badge-secondary mx-1">{{article.resources.count}}</span>
                                </div>
                                <div class="card-tools ml-auto">
                                    <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseResources" aria-expanded="false" aria-controls="collapseResources"></button>
                                </div>
                            </div>
                            <div id="collapseResources" class="collapse show">
                                <div class="card-body p-3">
                                    <div class="d-flex">
                                        <div>
                                        <label class="btn btn-sm btn-light m-0">
                                            <span><i class="fas fa-sm fa-folder-open"></i> Browse Files</span> 
                                            <input type="file" name="file" id="file_upload" multiple hidden> 
                                        </label>
                                        </div>
                                        <div class="ml-auto"> <a class="btn btn-xs btn-link text-secondary d-none" id="btn_clear"><span>Clear All</span> </a> </div>
                                    </div>    
                                    <div class="row file-upload-wrap mt-3 d-none" id="upload_wrapper"></div>
                                    {% if article.resources.all|length > 0 %}
                                    <div class="row mt-3">  
                                    {% for resource in article.resources.all %}
                                        <div class="col file-item">
                                            <div class="card">
                                                <a href="{{resource.file.url}}" target="_blank" class="file-anchor">
                                                    <div class="d-flex flex-row align-items-center p-2">
                                                        {% comment %}
                                                            //// create array to check file type for icon display
                                                        {% endcomment %}
                                                        {% with text='text/plain' pdf='application/pdf' spreadsheet='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet application/vnd.ms-excel application/vnd.oasis.opendocument.spreadsheet text/csv' document='application/vnd.openxmlformats-officedocument.wordprocessingml.document application/msword application/vnd.oasis.opendocument.text' presentation='application/vnd.openxmlformats-officedocument.presentationml.presentation application/vnd.ms-powerpoint application/vnd.oasis.opendocument.presentation' image='image/png image/jpeg'%}
                                                            {% if resource.file_type in text.split %}
                                                                <div class="far fa-3x fa-file-alt"></div>
                                                            {% elif resource.file_type in pdf.split %}
                                                                <div class="far fa-3x fa-file-pdf text-danger"></div>
                                                            {% elif resource.file_type in spreadsheet.split %}
                                                                <div class="far fa-3x fa-file-excel text-success"></div>
                                                            {% elif resource.file_type in document.split %}
                                                                <div class="far fa-3x fa-file-word text-primary"></div>
                                                            {% elif resource.file_type in presentation.split %}
                                                                <div class="far fa-3x fa-file-powerpoint text-orange"></div>
                                                            {% elif resource.file_type in image.split %}
                                                                <div class="far fa-3x fa-file-image text-warning"></div>
                                                            {% endif %}
                                                        {% endwith %}                                      
                                                        <div class="card-body p-0 ml-2">
                                                            <p class="m-0 font-weight-bold">{{resource.file_name}}</p>
                                                            <small class="text-muted">{{resource.file.size|filesizeformat}}</small>
                                                        </div>
                                                    </div>
                                                </a>
                                                <button class="btn btn-danger btn-block shadow-none p-0 m-0 btn-delete" data-file="{{resource.pk}}"> <small class="text-light">Delete</small></button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                    {% endif %}   
                                </div>
                            </div>
                       </div>
                    </div>
                </div>
                <div class="row mb-5" id="row-actions">
                    <div class="col-12">
                        <div class="form-actions mt-3 d-flex flex-row-reverse">
                            <button type="submit" class="btn btn-sm btn-orange pl-3 pr-3" id="btn_save" data-article-id="{{article.pk}}"><span>Save</span></button>
                            <a href="{% url 'view_article' article.pk %}" class="btn btn-sm btn-light" id="btn_back"><span>Back</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 d-none d-lg-block">
                <div class="row" id="row-details">
                    <div class="col-12 order-1">
                       <div class="card card-form mt-2 mb-1">
                            <div class="card-header d-flex align-items-center px-2 py-1">
                                <div class="card-title">Details</div>
                                <div class="card-tools ml-auto">
                                    <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails"></button>
                                </div>
                            </div>
                            <div id="collapseDetails" class="collapse show">
                                <div class="card-body p-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card card-detail mt-2 mb-1">
                                                <div class="card-body p-0 m-0">
                                                <p class="context text-truncate">{{article.author}}</p>
                                                <span class="label">Author</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="card card-detail mt-2 mb-1">
                                            <div class="card-body p-0 m-0">
                                                <p class="context text-truncate">{{article.date_publish|date:"d F Y h:i A"}}</p>
                                                <span class="label">Date Requested</span>
                                            </div>
                                            </div>
                                        </div>
                                        {% if article.modified_at %}
                                        <div class="col-12">
                                            <div class="card card-detail mt-2 mb-1">
                                            <div class="card-body p-0 m-0">
                                                <p class="context text-truncate">{{article.modified_at|date:"d F Y h:i A"}} {% if article.modified_by %} | {{article.modified_by}} {% endif %}</p>
                                                <span class="label">Last Modified</span>
                                            </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="col-12">
                                            <div class="card card-detail mt-2 mb-1">
                                                <div class="card-body p-0 m-0 d-flex align-items-center">
                                                    <div class="mr-auto">
                                                    <p class="context">{% if article.is_active %} Active {% else %} In Active {% endif %}</p>
                                                    <span class="label">Is Active</span>
                                                    </div>
                                                    <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="is_active_switch" {% if article.is_active %} checked {% endif %} >
                                                    <label class="custom-control-label" for="is_active_switch"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>   
                    </div>
                </div>
                <div class="row" id="row-recources">
                    <div class="col-12">
                       <div class="card card-form mt-2 mb-1">
                            <div class="card-header d-flex align-items-center px-2 py-1">
                                <div class="card-title d-flex align-items-center"> 
                                    <span>Resources</span> 
                                    <span class="badge badge-secondary mx-1">{{article.resources.count}}</span>
                                </div>
                                <div class="card-tools ml-auto">
                                    <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseResources" aria-expanded="false" aria-controls="collapseResources"></button>
                                </div>
                            </div>
                          <div id="collapseResources" class="collapse show">
                             <div class="card-body p-3">
                                <div class="d-flex">
                                    <div>
                                    <label class="btn btn-sm btn-light m-0">
                                        <span><i class="fas fa-sm fa-folder-open"></i> Browse Files</span> 
                                        <input type="file" name="file" id="file_upload" multiple hidden> 
                                    </label>
                                    </div>
                                    <div class="ml-auto"> <a class="btn btn-xs btn-link text-secondary d-none" id="btn_clear"><span>Clear All</span> </a> </div>
                                </div>    
                                <div class="row file-upload-wrap mt-3 d-none" id="side_upload_wrapper"></div>
                                {% if article.resources.all|length > 0 %}
                                <div class="row mt-3">  
                                   {% for resource in article.resources.all %}
                                      <div class="col side-file-item">
                                            <div class="card">
                                                <a href="{{resource.file.url}}" target="_blank" class="file-anchor">
                                                    <div class="d-flex flex-row align-items-center p-2">
                                                        {% comment %}
                                                            //// create array to check file type for icon display
                                                        {% endcomment %}
                                                        {% with text='text/plain' pdf='application/pdf' spreadsheet='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet application/vnd.ms-excel application/vnd.oasis.opendocument.spreadsheet text/csv' document='application/vnd.openxmlformats-officedocument.wordprocessingml.document application/msword application/vnd.oasis.opendocument.text' presentation='application/vnd.openxmlformats-officedocument.presentationml.presentation application/vnd.ms-powerpoint application/vnd.oasis.opendocument.presentation' image='image/png image/jpeg'%}
                                                            {% if resource.file_type in text.split %}
                                                                <div class="far fa-3x fa-file-alt"></div>
                                                            {% elif resource.file_type in pdf.split %}
                                                                <div class="far fa-3x fa-file-pdf text-danger"></div>
                                                            {% elif resource.file_type in spreadsheet.split %}
                                                                <div class="far fa-3x fa-file-excel text-success"></div>
                                                            {% elif resource.file_type in document.split %}
                                                                <div class="far fa-3x fa-file-word text-primary"></div>
                                                            {% elif resource.file_type in presentation.split %}
                                                                <div class="far fa-3x fa-file-powerpoint text-orange"></div>
                                                            {% elif resource.file_type in image.split %}
                                                                <div class="far fa-3x fa-file-image text-warning"></div>
                                                            {% endif %}
                                                        {% endwith %}                                      
                                                        <div class="card-body p-0 ml-2">
                                                            <p class="m-0 font-weight-bold">{{resource.file_name}}</p>
                                                            <small class="text-muted">{{resource.file.size|filesizeformat}}</small>
                                                        </div>
                                                    </div>
                                                </a>
                                               <button class="btn btn-danger btn-block shadow-none p-0 m-0 btn-delete" data-file="{{resource.pk}}"> <small class="text-light">Delete</small></button>
                                           </div>
                                     </div>
                                   {% endfor %}
                                </div>
                                {% endif %}   
                             </div>
                          </div>
                       </div>
                    </div>
                </div>    
            </div>
        </div>   
    </div>
</section>
{% endblock %}

{% block modal %}
<!-- Upload Progress -->
<div class="modal fade" id="uploadResourceModal" tabindex="-1" role="dialog" aria-labelledby="uploadResourceModal" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body p-2">
            <ol class="list-group">
            <li class="list-group-item d-flex align-items-center border-0 p-2" id="save-data">
                <div class="p-1 file-icon"><i class="fas fa-lg fa-upload text-secondary"></i></div>
                <div class="flex-grow-1">
                    <div class="d-flex align-items-center mb-1">
                        <div class="m-0">Uploading Attachments</div>
                        <div class="ml-auto text-muted" id="resource_percent"></div>
                    </div>
                    <div class="progress" style="height: 2px;">
                        <div class="progress-bar" id="upload_resource_progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </li>
            </ol>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tinymce/jquery.tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/announcement/article_change.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/announcement/resources.js' %}"></script>
{% endblock %}