{% extends '../../base.html' %}
{% load static %}

{% block title %} Requests {% endblock %}

{% block extrastyle %}

<link rel="stylesheet" href="{% static 'src/css/board.css' %}">
{% endblock %}

{% block content %}
<!-- Content Header -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h5 class="font-weight-bolder">Request Boards </h5>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right text-xs">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-orange"><i
                                class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item">Request</li>
                    <li class="breadcrumb-item active">Boards</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- /.content -->
{% if request.user.is_superuser %}
<section class="content">
    <div class="container-fluid">
   
         <!-- Default box -->
         <div class="row">
            <div class="col-12 m-0">
               <div class="card bg-secondary mt-2 mb-2">
                  <div class="card-body p-0">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-12 col-sm-4 p-1 ">
                            <select class="form-control form-control-sm w-100" id="select_form">
                                <option></option>
                                {% for form in forms %}
                                    <option value={{form.id}}>{{form.name}}</option>
                                {% endfor %}
                            </select>
                           </div>
                        </div>
                     </div>               
                  </div>
               </div>
            </div>
        </div>

        <!-- Boards Body-->
        <div class="board-wrapper">
            <div class="row-fluid mt-2">
                <p class="board-helper">*Select a form to show board cards</p>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="content">
    You don't have permission to view this page
</section>
{% endif %}
{% endblock %}


{% block extrascript %}
<!-- JQuery UI -->
<script type="text/javascript" src="{% static 'vendor/jquery-ui/js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/requests/boards.js' %}"></script>
{% endblock %}