{% extends '../../base.html' %}
{% load static %}

{% block title %} Requests {% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'src/css/requests.css' %}">
{% endblock %}

{% block content %}
<!-- Content Header -->
<section class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h5 class="font-weight-bolder">View Request</h5>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right text-xs">
               <li class="breadcrumb-item"><a href="{% url 'home' %}" class="btn-link-orange"><i class="fas fa-home"></i></a></li>
               <li class="breadcrumb-item">Request</li>
               <li class="breadcrumb-item"> <a href="{% url 'ticket' %}" class="btn-link-neutral">List</a> </li>
               <li class="breadcrumb-item active">Ticket No: {{ticket.ticket_no}}</li>
            </ol>
         </div>
      </div>
   </div>
</section>

<!-- /.content -->
{% if perms.requests.change_ticket %}
<section class="content pb-4">
   <div class="container-fluid">
      <div class="overlay d-none"></div>
      
      <div class="d-flex flex-row-reverse ">
         <a href="{% url 'detail_ticket' ticket.ticket_id %}" class="btn btn-xs btn-link text-secondary">
            <i class="fas fa-pencil-alt fa-lg"></i> <span>Update Request</span> 
         </a>
         <a href="{% url 'detail_ticket' ticket.ticket_id %}" class="btn btn-xs btn-link text-secondary">
            <i class="fas fa-history fa-lg"></i> <span>View Logs</span> 
         </a>
      </div>
      <div class="row">
         <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            <div class="row" id="row-information">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <a href="#collapseInformation" data-toggle="collapse" aria-expanded="true" aria-controls="collapseInformation">
                        <div class="card-header p-2">
                           <div class="card-title">Ticket Information</div>
                        </div>
                     </a>
                     <div id="collapseInformation" class="collapse show">
                        <div class="card-body p-3">
                           <div class="row">
                              <div class="col-12 col-sm-6 col-md-12 col-lg-12"> 
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{ticket.ticket_no}}</p>
                                       <span class="label">Ticket No</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context text-truncate" id="form_id" form_id="{{ticket.request_form.id}}">{{ticket.request_form}}</p>
                                       <span class="label">Request Form</span>
                                    </div>
                                 </div>
                              </div>
                              <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{ticket.category}} </p>
                                       <span class="label">Category</span>
                                    </div>
                                 </div>
                              </div> -->  
                              <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{ticket.department}} </p>
                                       <span class="label">Department</span>
                                    </div>
                                 </div>
                              </div> -->
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context text-truncate">{{ticket.date_created|date:"d F Y h:i A"}}</p>
                                       <span class="label">Date Created</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context text-truncate">{{ticket.date_modified|date:"d F Y h:i A"}}</p>
                                       <span class="label">Last Modified</span>
                                    </div>
                                 </div>
                              </div> 
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{ticket.requested_by}} </p>
                                       <span class="label">Requestor</span>
                                    </div>
                                 </div>
                              </div>                     
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{ticket.status}}</p>
                                       <span class="label">Status</span>
                                    </div>
                                 </div>
                              </div>
                              {% if request.user.is_superuser %}
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0 d-flex align-items-center">
                                       <div class="mr-auto">
                                          <p class="context">{% if ticket.is_active == True %} Active {% else %} In Active {% endif %}</p>
                                          <span class="label">Is Active</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row" id="row-details">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1 "  style="border-bottom-left-radius: 5px !important;">
                     <a href="#collapseDetails" data-toggle="collapse" aria-expanded="true" aria-controls="collapseDetails">
                        <div class="card-header p-2">
                           <div class="card-title">Request Details</div>
                        </div>
                     </a>
                     <div id="collapseDetails" class="collapse show">
                        <div class="card-body pr-3 pl-3 pt-2 pb-2">
                           <ul class="list-group list-group-flush">
                              <li class="list-group-item d-flex p-3">
                                 <div class="mr-auto">Department </div>
                                 <div class="font-weight-bold" style="width: 60% !important;">
                                    <p class="p-0 m-0 text-right">{{ticket.department}}</p>
                                 </div>
                             </li>
                             <li class="list-group-item d-flex p-3">
                              <div class="mr-auto">Category (<i>{{ticket.category.category_type}}</i>)</div>
                              <div class="font-weight-bold" style="width: 60% !important;">
                                 <p class="p-0 m-0 text-right">{{ticket.category}}</p>
                              </div>
                          </li>
                          </li>
                           {% for form in ticket.request_form.fields %}
                              {% if form.form_field|length < 5 %}
                              <li class="list-group-item d-flex p-3">
                                 <div class="mr-auto">{{form.title}} </div>
                                 <div class="font-weight-bold" style="width: 60% !important;">
                                    {% include '../../snippets/list2.html' %}
                                 </div>
                             </li>
                              {% else %}
                                 {% include '../../snippets/list.html' %}
                              {% endif %}
                           {% endfor %}
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row" id="row-attachment">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <a href="#collapseAttachment" data-toggle="collapse" aria-expanded="true" aria-controls="collapseAttachment">
                        <div class="card-header p-2">
                           <div class="card-title">Attachments ({{attachments.count}})</div>
                        </div>
                     </a>
                     <div id="collapseAttachment" class="collapse show">
                        <div class="card-body p-0">
                           <table id="dt_attachments" class="table table-hover" width="100%">
                              <thead>
                                 <tr>
                                    <th>Name</th>
                                    <th>Date Uploaded</th>
                                    <th>Uploaded By</th>
                                    <th>File Size</th>
                                 </tr>
                              </thead>
                              <tbody id="file_table">
                                 {% for attachment in attachments %}
                                    <tr>
                                       <td>
                                          <span class="file-type fas fa-lg mr-2" data-mimetype="{{attachment.file_type}}"></span>
                                          <a href='{{attachment.file.url}}' class="text-secondary"><b>{{attachment.file_name}}</b></a>
                                       </td>
                                       <td>{{attachment.uploaded_at}}</td>
                                       <td>{% if attachment.uploaded_by == request.user %} Me {% else %} {{attachment.uploaded_by}} {% endif %}</td>
                                       <td>{{attachment.file.size|filesizeformat}}</td>
                                    </tr>
                                 {% endfor %}
                              </tbody>                              
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         
         <div class="col-12 col-sm-12 col-md-12 col-lg-3">
         {% if step.has_approving %}
            {% if ticket.department.department_head == request.user or request.user.is_staff or request.user.is_superuser %}
               {% with accept="Approve" refuse="Dissaprove" %}     
                  {% include '../../snippets/actions.html' %}
               {% endwith %}
            {% endif %}
         {% elif step.has_pass_fail %}
            {% if ticket.requested_by == request.user or request.user.is_staff or request.user.is_superuser %}
               {% with accept="Pass" refuse="Fail" %}     
                  {% include '../../snippets/actions.html' %}
               {% endwith %}
            {% endif %}
         {% else %}
            {% if request.user.is_staff or request.user.is_superuser %} 
               {% with accept="Proceed to next step" %}
                  {% include '../../snippets/actions.html' %}
               {% endwith %}
            {% endif %}
         {% endif %}
         <div class="row" id="row-comments">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <a href="#collapseComment" data-toggle="collapse" aria-expanded="true" aria-controls="collapseComment">
                        <div class="card-header p-2">
                           <div class="card-title">Comments</div>
                        </div>
                     </a>
                     <div id="collapseComment" class="collapse show">
                        <div class="card-body p-3">
                           <form id="form-comment"> <!-- FORM -->
                              <div class="d-flex flex-row align-items-start"> <!-- COMMENT TEXTAREA -->
                                 <textarea class="form-control shadow-none textarea" id="txtarea-comment" rows="3" placeholder="Write a comment..."></textarea>
                              </div> <!-- COMMENT TEXTAREA END -->
                              <div class="mt-2 text-right">
                                 <button class="btn btn-orange btn-xs" type="button" id="btn-post-comment" data-ticket-id="{{ticket.ticket_id}}"> <span>Post Comment</span></button>
                              </div>
                           </form> <!-- FORM END -->
                           <div class="d-flex flex-column comment-section mt-2">  <!-- COMMENT SECTION -->
                           </div>  <!-- COMMENT SECTION END -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
           
         </div>
      </div>
   </div>
</section>
{% else %}
<section class="content">
   You don't have permission to view this page
</section>
{% endif %}
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'src/js/requests/request_view.js' %}"></script>
{% endblock %}