{% extends '../../base.html' %}
{% load static %}

{% block title %} Requests {% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'src/css/requests.css' %}">
{% endblock %}

{% block content %}
<!-- Content Header -->
<section class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h5 class="font-weight-bolder">My Requests </h5>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right text-xs">
               <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-orange"><i
                        class="fas fa-home"></i></a></li>
               <li class="breadcrumb-item">Request</li>
               <li class="breadcrumb-item active">List</li>
            </ol>
         </div>
      </div>
   </div>
</section>

<!-- /.content -->
{% if perms.requests.view_ticket %}
<section class="content">
   <div class="container-fluid">

      <!-- Content Filters, Search and Create Section -->
      <div class="d-flex mb-1">
         <div class="dropdown dropdown-filter mr-2">
            <button class="btn btn-sm btn-light shadow-sm dropdown-filter-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-xs fa-filter m-0 d-inline d-md-none"></i>
               <span class="d-none d-md-inline pl-1">Filter <i class="fas fa-caret-down ml-1"></i></span>
            </button>
            <div class="dropdown-menu dropdown-menu-lg dropdown-filter-menu">
               <form id="form-filter">
                  <div class="p-3">
                     <div class="form-group mb-1">
                        <label for="department-filter">By Department </label>
                        <select class="form-control form-control-sm select-filter" id="department-filter" name="department-filter">
                           <option value="">All</option>
                           {% for department in departments %}
                           <option value={{department.id}}>{{department}}</option>
                           {% endfor %}
                        </select>
                     </div>
                     <div class="form-group mb-1">
                        <label for="type-filter">By Category Type</label>
                        <select class="form-control form-control-sm select-filter" id="type-filter" name="type-filter">
                           <option value="">All</option>
                           {% for type in types %}
                           <option value={{type.id}}>{{type}}</option>
                           {% endfor %}
                        </select>
                     </div>
                     <div class="form-group mb-1">
                        <label for="category-filter">By Category </label>
                        <select class="form-control form-control-sm select-filter" id="category-filter" name="category-filter">
                           <option value="">All</option>
                        </select>
                     </div>
                     <div class="form-group mb-1">
                        <label for="status-filter">By Status </label>
                        <select class="form-control form-control-sm select-filter" id="status-filter" name="status-filter">
                           <option value="">All</option>
                           {% for status in statuses %}
                           <option value={{status.id}}>{{status}}</option>
                           {% endfor %}
                        </select>
                     </div>
                     {% if user.is_superuser %}
                     <div class="form-group mb-1">
                        <label for="active-filter">By Active </label>
                        <select class="form-control form-control-sm select-filter" id="active-filter" name="active-filter">
                           <option value="">All</option>
                           <option value="1">Active</option>
                           <option value="0">Inactive</option>
                        </select>
                     </div>
                     {% endif %}
                     <div class="form-group mb-1">
                        <label for="date-filter">By Date Requested </label>
                        <input type="date" class="form-control form-control-sm mb-2" id="date-from-filter" name="date-filter" placeholder="From">
                        <input type="date" class="form-control form-control-sm" id="date-to-filter" name="date-filter" placeholder="To">
                     </div>
                  </div>
                  <div class="dropdown-divider"></div>
                  <div class="d-flex flex-row-reverse pt-2 pb-2 pl-3 pr-3">
                     <div><button class="btn btn-sm btn-orange ml-1" id="btn_apply"> <span>Apply</span> </button></div>
                     <div><a class="btn btn-sm btn-link text-secondary" id="btn_clear"> <span>Clear</span> </a></div>
                     <div class="mr-auto"><a class="btn btn-sm btn-link text-secondary pl-0" id="close_dropdown"> <span>Close</span> </a></div>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-auto col-lg-3 p-0"> 
            <div class="input-group shadow-sm">
               <input type="search" class="form-control form-control-sm" placeholder="Search" id="search-input">
               <div class="input-group-append">
                 <button class="btn btn-sm btn-outline-secondary" type="button" id="execute-search">
                     <i class="fas fa-sm fa-search"></i>
                  </button>
               </div>
            </div>
         </div>
         <div class="ml-auto">
            {% if perms.requests.add_ticket %}
            <a href="{% url 'create_ticket' %}" class="btn btn-xs btn-orange btn-new shadow-sm" id="btn-create-list"><i class="fas fa-xs fa-plus"></i> <span class="d-none d-sm-inline ml-1">Create Request</span></a>
            {% endif %}
         </div>
      </div>

      <!-- Table -->
      <div class="row">
         <div class="col-12 col-sm-12 m-0">
            <div class="card shadow-sm mt-2 mb-2">
               <div class="card-body p-0">
                  <table id="dt_requests" class="table table-hover" width="100%">
                     <thead>
                        <tr>
                           <th>Ticket No</th>
                           <th>Request Type</th>
                           <th>Category</th>
                           <th>Department</th>
                           <th>Date Requested</th>
                           <th>Date Modified</th>
                           <th>Requested By</th>
                           <th>Status</th>
                           <th>Is active</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <input type="hidden" id="changeTicketHidden" value="{% if perms.requests.change_ticket %}true{% else %}false{% endif %}">
   <input type="hidden" id="deleteTicketHidden" value="{% if perms.requests.delete_ticket %}true{% else %}false{% endif %}">
</section>
{% else %}
<section class="content">
   You don't have permission to view this page
</section>
{% endif %}
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'src/js/requests/request.js' %}"></script>
{% endblock %}