{% extends '../../base.html' %}
{% load static %}

{% block title %} View Request | {% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'src/css/requests.css' %}">
{% endblock %}

{% block content %}
<!-- Content Header -->
<section class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h5 class="font-weight-bolder">View Request</h5>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right text-xs">
               <li class="breadcrumb-item"><a href="{% url 'home' %}" class="btn-link-orange"><i class="fas fa-home"></i></a></li>
               <li class="breadcrumb-item">Request</li>
               <li class="breadcrumb-item"> <a href="{% url 'ticket' %}" class="btn-link-neutral">List</a> </li>
               <li class="breadcrumb-item active ticket-no" data-ticket-id="{{ticket.ticket_id}}">Ticket No: {{ticket.ticket_no}}</li>
            </ol>
         </div>
      </div>
   </div>
</section>

<!-- /.content -->
{% if perms.requests.view_ticket %}
<section class="content pb-4">
   <div class="container-fluid">
      <div class="overlay d-none"></div>
      
      <div class="d-flex flex-row-reverse ">
         {% if perms.requests.change_ticket %}
         <a href="{% url 'detail_ticket' ticket.ticket_id %}" class="btn btn-xs btn-link text-secondary">
            <i class="fas fa-pencil-alt"></i> <span>Update Request</span> 
         </a>
         {% endif %}
         <a class="btn btn-xs btn-link text-secondary">
            <i class="fas fa-history"></i> <span>View Logs</span> 
         </a>
      </div>
      <div class="row">
         <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            <div class="row" id="row-information">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <a href="#collapseInformation" data-toggle="collapse" aria-expanded="true" aria-controls="collapseInformation">
                        <div class="card-header p-2">
                           <div class="card-title">Ticket Information</div>
                        </div>
                     </a>
                     <div id="collapseInformation" class="collapse show">
                        <div class="card-body p-3">
                           <div class="row">
                              <div class="col-12 col-sm-6 col-md-12 col-lg-12"> 
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{ticket.description}}</p>
                                       <span class="label">Title / Description </span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4"> 
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{ticket.ticket_no}}</p>
                                       <span class="label">Ticket No</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context text-truncate">{{ticket.date_created|date:"d F Y h:i A"}}</p>
                                       <span class="label">Date Requested</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context text-truncate" id="form_id" data-form-id="{{ticket.request_form.id}}">{{ticket.request_form}}</p>
                                       <span class="label">Request Form</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0 d-flex align-items-center">
                                       <div class="mr-auto text-truncate">
                                          <p class="context d-flex align-items-center">
                                             <span class="spinner-border spinner-border-sm text-secondary ref-spinner d-none" role="status" aria-hidden="true"></span> 
                                             <span id="ref_context">
                                             {% if ticket.reference_no %}
                                                {{ticket.reference_no}}
                                             {% else %}
                                                <span style="color: #e3e5ed"> XXX-0000-0000</span>
                                             {% endif %}    
                                             </span>
                                          </p>
                                          <span class="label">Reference No</span>
                                       </div>
                                       {% if not ticket.reference_no %}
                                          {% if user.is_staff or user.is_superuser %}                                  
                                          <button type="button" class="btn btn-xs btn-light d-flex align-items-center" id="btn_generate" data-ticket-id="{{ticket}}"> 
                                             <span class="spinner-border spinner-border-xs text-secondary mr-1 ref-spinner d-none" role="status" aria-hidden="true"></span> 
                                             <span>Generate</span> 
                                          </button>
                                          {% endif %}
                                       {% endif %}
                                    </div>
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{ticket.requested_by}} </p>
                                       <span class="label">Requested By</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context text-truncate">{{ticket.category}} </p>
                                       <span class="label">Category</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{ticket.department}} </p>
                                       <span class="label">Department</span>
                                    </div>
                                 </div>
                              </div>
                              {% if remark.is_approve %}
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{remark.action_officer}} </p>
                                       <span class="label">Approved By</span>
                                    </div>
                                 </div>
                              </div>
                              {% endif %}
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{ticket.status}}</p>
                                       <span class="label">Status</span>
                                    </div>
                                 </div>
                              </div>
                              {% if request.user.is_superuser %}
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <div class="mr-auto">
                                          <p class="context">{% if ticket.is_active == True %} Active {% else %} In Active {% endif %}</p>
                                          <span class="label">Is Active</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                  </div>   
               </div>
            </div>
            <div class="row" id="row-details">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1 "  style="border-bottom-left-radius: 5px !important;">
                     <a href="#collapseDetails" data-toggle="collapse" aria-expanded="true" aria-controls="collapseDetails">
                        <div class="card-header p-2">
                           <div class="card-title">Request Details</div>
                        </div>
                     </a>
                     <div id="collapseDetails" class="collapse show">
                        <div class="card-body pr-3 pl-3 pt-2 pb-2">
                           <ul class="list-group list-group-flush">
                              {% for form in ticket.request_form.fields %}
                                 {% if form.form_field|length < 5 %}
                                 <li class="list-group-item d-flex p-3">
                                    <div class="mr-auto">{{form.title}} </div>
                                    <div class="font-weight-bold" style="width: 60% !important;">
                                       {% include '../../snippets/fragments/list2.html' %}
                                    </div>
                                 </li>
                                 {% else %}
                                    {% include '../../snippets/fragments/list.html' %}
                                 {% endif %}
                              {% endfor %}
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row" id="row-attachment">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <a href="#collapseAttachment" data-toggle="collapse show" aria-expanded="false" aria-controls="collapseAttachment">
                        <div class="card-header p-2">
                           <div class="card-title">Attachments  {% if perms.requests.view_attachment %} ({{attachments.count}}) {% endif %}</div>
                        </div>
                     </a>
                     <div id="collapseAttachment" class="collapse show">
                        <div class="card-body p-0">
                        {% if perms.requests.view_attachment %}
                           <table id="dt_attachments" class="table table-hover" width="100%">
                              <thead>
                                 <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Date Uploaded</th>
                                    <th>Uploaded By</th>
                                    <th>Size</th>
                                 </tr>
                              </thead>
                              <tbody id="file_table"></tbody>
                           </table>
                        {% else %}
                           <span class="body-info">You do not have permission in this part.</span>
                        {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            {% if curr_step.status != last_step.status or user.is_superuser %}
               {% if curr_step.has_approving %}
                  {% if curr_step.is_head_step and ticket.department.department_head == user or user.is_superuser %} 
                     {% include '../../snippets/fragments/actions_approval.html' %}
                  {% elif curr_step.is_client_step and ticket.requested_by == user  or user.is_superuser%} 
                     {% include '../../snippets/fragments/actions_approval.html' %} 
                  {% elif not curr_step.is_client_step and not curr_step.is_head_step and user.is_staff or user.is_superuser%} 
                     {% include '../../snippets/fragments/actions_approval.html' %} 
                  {% endif %}
               {% elif curr_step.has_pass_fail %}
                  {% if curr_step.is_client_step and ticket.requested_by == user or user.is_superuser %} 
                     {% include '../../snippets/fragments/actions_pass_fail.html' %}
                  {% elif not curr_step.is_client_step and user.is_staff or user.is_superuser %} 
                     {% include '../../snippets/fragments/actions_pass_fail.html' %} 
                  {% endif %}
               {% else %}
                  {% if user.is_staff %} {% include '../../snippets/fragments/actions_default.html' %} {% endif %}
               {% endif %}
            {% endif %}
                     
            {% if user == ticket.requested_by or user == ticket.department.department_head or user.is_staff or user.is_superuser  %}
            <div class="row" id="row-comments">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <a href="#collapseComment" data-toggle="collapse" aria-expanded="true" aria-controls="collapseComment">
                        <div class="card-header p-2">
                           <div class="card-title">Comments</div>
                        </div>
                     </a>
                     <div id="collapseComment" class="collapse show">
                        <div class="card-body p-3">
                        {% if perms.requests.view_comment %}
                           {% if perms.requests.add_comment %}
                           <form id="form-comment"> <!-- FORM -->
                              <div class="d-flex flex-row align-items-start"> <!-- COMMENT TEXTAREA -->
                                 <textarea class="form-control shadow-none textarea" id="txtarea-comment" rows="3" placeholder="Write a comment..."></textarea>
                              </div> <!-- COMMENT TEXTAREA END -->
                              <div class="mt-2 text-right">
                                 <button class="btn btn-light btn-xs" type="button" id="btn-post-comment" data-ticket-id="{{ticket.ticket_id}}"> <span>Post Comment</span></button>
                              </div>
                           </form> <!-- FORM END -->
                           {% endif %}
                           <input type="hidden" id="comment-nextpage-url"> <!-- Hidden input for infinite comment scroll -->
                           <div class="d-flex flex-column comment-section mt-2">  <!-- COMMENT SECTION -->
                           </div>  <!-- COMMENT SECTION END -->
                           {% else %}
                           <span class="body-info">You do not have permission in this part.</span>
                        {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% endif %}
         </div>
      </div>
   </div>
</section>
{% else %}
<section class="content">
   You don't have permission to view this page
</section>
{% endif %}
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'src/js/requests/request_view.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/requests/actions.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/requests/comment.js' %}"></script>
{% endblock %}