{% extends '../../base.html' %}
{% load static %}

{% block title %} View Request | {% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'src/css/requests.css' %}">
{% endblock %}

{% block content %}
<!-- Content Header -->
<section class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h5 class="font-weight-bolder">View Request</h5>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right text-xs">
               <li class="breadcrumb-item"><a href="{% url 'home' %}" class="btn-link-orange"><i class="fas fa-home"></i></a></li>
               <li class="breadcrumb-item">Request</li>
               <li class="breadcrumb-item">All Requests</li>
               <li class="breadcrumb-item"> <a href="{% url 'ticket' %}" class="btn-link-neutral">List</a> </li>
               <li class="breadcrumb-item active ticket-no" data-ticket-id="{{ticket.ticket_id}}">Ticket No: {{ticket.ticket_no}}</li>
            </ol>
         </div>
      </div>
   </div>
</section>

<!-- /.content -->
<section class="content pb-4">
   <div class="container-fluid">
      <div class="overlay d-none"></div>
      
      <div class="d-flex flex-row-reverse mb-1">
         {% if perms.requests.add_ticket and perms.requests.change_ticket %}
            {% if curr_step.status != last_step.status or user.is_superuser %}
            <a href="{% url 'detail_ticket' ticket.ticket_id %}" class="btn btn-light text-secondary ml-2">
               <i class="fas fa-sm fa-pencil-alt"></i> <span>Update Request</span> 
            </a>
            {% endif %}
         {% endif %}
         <a href="{% url 'ticket_log_list' %}" class="btn btn-light text-secondary btn-view-logs" data-ticket-number="{{ticket.ticket_no}}">
            <i class="fas fa-sm fa-history"></i> <span class="d-none d-sm-inline">View Logs</span> 
         </a>
      </div>
      <div class="row">
         <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            {% comment %} TICKET INFORMATION {% endcomment %}
            <div class="row" id="row-information">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <div class="card-header d-flex align-items-center px-2 py-1">
                        <div class="card-title">Ticket Information</div>
                        <div class="card-tools ml-auto">
                           <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseInformation" aria-expanded="false" aria-controls="collapseInformation"></button>
                        </div>
                     </div>
                     <div id="collapseInformation" class="collapse show">
                        <div class="card-body p-3">
                           <div class="row">
                              <div class="col-12 col-sm-6 col-md-12 col-lg-12"> 
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{ticket.description}}</p>
                                       <span class="label">Title / Description </span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4"> 
                                 <div class="card card-detail mt-2 mb-1">  
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{ticket.ticket_no}}</p>
                                       <span class="label">Ticket No</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context text-truncate">{{ticket.date_created|date:"d F Y h:i A"}}</p>
                                       <span class="label">Date Requested</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                     <div class="card-body p-0 m-0 d-flex">
                                       <div class="flex-grow-1 text-truncate align-self-center">
                                          <p class="context" id="form_id" form_id="{{ticket.request_form.id}}">{{ticket.request_form}}</p>
                                          <span class="label">Request Form</span>
                                       </div>
                                       <div class="align-self-start ml-2"><i class="fas fa-bookmark" style="color:{{ticket.request_form.color}}"></i></div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0 d-flex align-items-center">
                                       <div class="mr-auto text-truncate">
                                          <p class="context d-flex align-items-center">
                                             <span class="spinner-border spinner-border-sm text-secondary ref-spinner d-none" role="status" aria-hidden="true"></span> 
                                             <span id="ref_context">
                                             {% if ticket.reference_no %}
                                                {{ticket.reference_no}}
                                             {% else %}
                                                <span style="color: #e3e5ed"> XXX-0000-00000</span>
                                             {% endif %}    
                                             </span>
                                          </p>
                                          <span class="label">Reference No</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 {% if user.is_staff or user == ticket.requested_by %}<a href="#userdetailModal" data-toggle="modal" data-target="#userdetailModal">{% endif %}
                                    <div class="card card-detail mt-2 mb-1">
                                       <div class="card-body p-0 m-0">
                                          <p class="context">{{ticket.requested_by}} </p>
                                          <span class="label">Requested By</span>
                                       </div>
                                    </div>
                                 {% if user.is_staff or user == ticket.requested_by %}</a>{% endif %}
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{ticket.department}} </p>
                                       <span class="label">Department</span>
                                    </div>
                                 </div>
                              </div>
                              {% if remark.is_approve %}
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{remark.action_officer}} </p>
                                       <span class="label">Approved By</span>
                                    </div>
                                 </div>
                              </div>
                              {% endif %}
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <p class="context">{{ticket.status}}</p>
                                       <span class="label">Status</span>
                                    </div>
                                 </div>
                              </div>
                              {% if request.user.is_superuser %}
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                 <div class="card card-detail mt-2 mb-1">
                                    <div class="card-body p-0 m-0">
                                       <div class="mr-auto">
                                          <p class="context">{% if ticket.is_active == True %} Active {% else %} In Active {% endif %}</p>
                                          <span class="label">Is Active</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                  </div>   
               </div>
            </div>
            {% comment %} REQUEST DETAILS {% endcomment %}
            <div class="row" id="row-details">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1" style="border-bottom-left-radius: 5px !important;">
                     <div class="card-header d-flex align-items-center px-2 py-1">
                        <div class="card-title">Request Details</div>
                        <div class="card-tools ml-auto">
                           <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails"></button>
                        </div>
                     </div>
                     <div id="collapseDetails" class="collapse show">
                        <div class="card-body pr-3 pl-3 pt-2 pb-2">
                           <ul class="list-group list-group-flush">
                              <li class="list-group-item d-flex p-3">
                                 <div class="mr-auto">Category</div>
                                 <div style="width: 60% !important;">
                                    <p class="p-0 m-0 text-right font-weight-bold">
                                    {% for category in ticket.category.all %}
                                       {% if not forloop.first %}
                                          {% if forloop.last %} & {% else %}, {% endif %}
                                       {% endif %}
                                       {{ category }}
                                    {% endfor %}
                                    </p>
                                    <p class="p-0 m-0 text-right"> {% for category in ticket.category.all %}{% if forloop.first %} {{category.category_type}} {% endif %}{% endfor %}</p>
                                 </div>
                              </li>
                              {% for form in ticket.request_form.fields %}
                                 {% if form.is_multi_field %}
                                 <li class="list-group-item d-flex p-3">
                                    <div class="mr-auto">{{form.title}} </div>
                                    <div class="font-weight-bold" style="width: 60% !important;">
                                       {% include '../../snippets/fragments/list2.html' %}
                                    </div>
                                 </li>
                                 {% else %}
                                    {% include '../../snippets/fragments/list.html' %}
                                 {% endif %}
                              {% endfor %}
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% comment %} ATTACHMENTS {% endcomment %}
            <div class="row" id="row-attachment">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <div class="card-header d-flex align-items-center px-2 py-1">
                        <div class="card-title d-flex align-items-center"> 
                           <span>Attachments</span> 
                           {% if perms.requests.view_attachment %}<span class="badge badge-secondary mx-1">{{attachments.count}}</span> {% endif %} 
                        </div>
                        <div class="card-badges"> </div>
                        <div class="card-tools ml-auto">
                           <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseAttachment" aria-expanded="false" aria-controls="collapseAttachment"></button>
                        </div>
                     </div>
                     <div id="collapseAttachment" class="collapse show">
                        <div class="card-body p-0">
                        {% if perms.requests.view_attachment %}
                           <template id="table_spinner">
                              <div class="d-flex justify-content-center align-items-center">
                                 <div class="spinner-border text-orange mr-2" style="width: 1.2rem; height: 1.2rem;" role="status">
                                 </div>
                                 <span class="text-secondary">Fetching...</span>
                              </div>
                           </template>
                           <table id="dt_attachments" class="table table-hover" width="100%">
                              <thead>
                                 <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Date Uploaded</th>
                                    <th>Uploaded By</th>
                                    <th>Size</th>
                                 </tr>
                              </thead>
                              <tbody id="file_table"></tbody>
                           </table>
                        {% else %}
                           <span class="body-info">You do not have permission in this part.</span>
                        {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-12 col-sm-12 col-md-12 col-lg-3 d-none d-lg-block">
            {% comment %} ACTIONS SECTION {% endcomment %}
            {% if curr_step.status != last_step.status or user.is_superuser %}
            <div class="row" id="row-actions">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <div class="card-header d-flex align-items-center px-2 py-1">
                        <div class="card-title">Actions</div>
                        <div class="card-tools ml-auto">
                           <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseAction" aria-expanded="false" aria-controls="collapseAction"></button>
                           <button type="button" class="btn btn-tool btn-compress" data-toggle="collapse" data-target="#compressAction" aria-expanded="false" aria-controls="compressAction"></button>
                        </div>
                     </div>
                     <div id="collapseAction" class="collapse show">
                     {% if curr_step.has_approving %}
                        {% if curr_step.is_head_step and ticket.department.department_head == user or user.is_superuser %} 
                           {% include '../../snippets/fragments/actions_approval.html' %}
                        {% elif curr_step.is_client_step and ticket.requested_by == user  or user.is_superuser%} 
                           {% include '../../snippets/fragments/actions_approval.html' %} 
                        {% elif not curr_step.is_client_step and not curr_step.is_head_step and user.is_staff or user.is_superuser%} 
                           {% include '../../snippets/fragments/actions_approval.html' %} 
                        {% endif %}
                     {% elif curr_step.has_pass_fail %}
                        {% if curr_step.is_client_step and ticket.requested_by == user or user.is_superuser %} 
                           {% include '../../snippets/fragments/actions_pass_fail.html' %}
                        {% elif not curr_step.is_client_step and user.is_staff or user.is_superuser %} 
                           {% include '../../snippets/fragments/actions_pass_fail.html' %} 
                        {% endif %}
                     {% elif curr_step.has_event %}
                        {% if curr_step.is_client_step and ticket.requested_by == user or user.is_superuser %} 
                           {% include '../../snippets/fragments/actions_event.html' %}
                        {% elif not curr_step.is_client_step and user.is_staff or user.is_superuser %} 
                           {% include '../../snippets/fragments/actions_event.html' %} 
                        {% endif %}
                     {% elif curr_step.is_client_step and ticket.requested_by == user or user.is_superuser %}
                        {% include '../../snippets/fragments/actions_default.html' %} 
                     {% else %}
                        {% if user.is_staff and not curr_step.is_client_step %} {% include '../../snippets/fragments/actions_default.html' %} {% endif %}
                     {% endif %}
                     </div>
                  </div>
               </div>
            </div>
            {% endif %}
            {% comment %} ATTENDANCE SECTION {% endcomment %}
            {% if has_event_form %}
            <div class="row" id="row-attendance">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <div class="card-header d-flex align-items-center px-2 py-1">
                        <div class="card-title">attendance</div>
                        <div class="card-tools ml-auto">
                           <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseAttendance" aria-expanded="false" aria-controls="collapseAttendance"></button>
                        </div>
                     </div>
                     <div id="collapseAttendance" class="collapse show">
                        <div class="card-body p-3">
                           {% if scheduled_event %}
                           <div class="card card-schedule p-3 mb-3">
                              <div class="d-flex flex-column">
                                 <p class="font-weight-bold text-uppercase m-0" style="color:{{scheduled_event.scheduled_event.event.highlight}}; font-size:14px !important;"> 
                                    {{scheduled_event.scheduled_event.date}} {{ scheduled_event.scheduled_event.time_start|time:"g:i A"}} - {{ scheduled_event.scheduled_event.time_end|time:"g:i A"}}
                                 </p>
                                 <small class="text-secondary"> {{scheduled_event.scheduled_event.event}}</small>
                                 {% if user.is_staff or user.is_superuser %}
                                 <div class="mt-2">
                                    <button type="button" class="btn btn-outline-success btn-block btn-sm m-0 mt-1" id="btn_present" data-attended="true" data-schedule-id="{{scheduled_event.pk}}"> <span> Present </span> </button>
                                    <button type="button" class="btn btn-outline-secondary btn-block btn-sm m-0 mt-1" id="btn_absent" data-attended="false" data-schedule-id="{{scheduled_event.pk}}"><span> Absent </span> </button>
                                 </div>
                                 {% endif %}
                              </div>
                           </div>
                           {% endif %}
                           <ul class="list-group list-group-flush history">
                              {% if event_tickets %}
                              {% for event_ticket in event_tickets %}
                                 <li class="list-group-item d-flex text-muted px-2 py-1">
                                    <div class="mr-auto text-truncate">{{ event_ticket.scheduled_event.date }} {{ event_ticket.scheduled_event.time_start }} - {{ event_ticket.scheduled_event.time_end }} ({{ event_ticket.scheduled_event.event }})</div>
                                    <div style="width: 30% !important;">
                                       {% if event_ticket.attended %} <p class="p-0 m-0 text-right font-weight-bold text-success">Attended </p>
                                       {% else %} <p class="p-0 m-0 text-right font-weight-bold text-secondary">Missed </p>
                                       {% endif %}
                                    </div>
                                 </li>
                              {% endfor %}
                              {% else %}
                              <li class="list-group-item d-flex text-muted p-1">
                                 <div class="mr-auto font-italic">No Recents</div>
                              </li>
                              {% endif %}
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% endif %}
            {% comment %} COMMMENTS SECTION {% endcomment %}
            {% if user == ticket.requested_by or user == ticket.department.department_head or user.is_staff or user.is_superuser  %}
            <div class="row" id="row-comments">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <div class="card-header d-flex align-items-center px-2 py-1">
                        <div class="card-title">Comments</div>
                        <div class="card-tools ml-auto">
                           <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseComment" aria-expanded="false" aria-controls="collapseComment"></button>
                        </div>
                     </div>
                     <div id="collapseComment" class="collapse show">
                        <div class="card-body p-3">
                        {% if perms.requests.view_comment %}
                           {% if perms.requests.add_comment %}
                           <form id="form-comment"> <!-- FORM -->
                              <div class="d-flex flex-row align-items-start"> <!-- COMMENT TEXTAREA -->
                                 <textarea class="form-control shadow-none textarea" id="txtarea-comment" rows="3" placeholder="Write a comment..."></textarea>
                              </div> <!-- COMMENT TEXTAREA END -->                              
                              <div class="d-flex mt-0">
                                 <small class="text-black-50"><span id="char_count_comment"></span></small>
                                 <button class="btn btn-light btn-xs ml-auto mt-2" type="button" id="btn-post-comment" data-ticket-id="{{ticket.ticket_id}}"> <span>Post Comment</span></button>
                              </div>
                           </form> <!-- FORM END -->
                           {% endif %}
                           <input type="hidden" id="comment-nextpage-url"> <!-- Hidden input for infinite comment scroll -->
                           <div class="d-flex flex-column comment-section mt-2">  <!-- COMMENT SECTION -->
                           </div>  <!-- COMMENT SECTION END -->
                           {% else %}
                           <span class="body-info">You do not have permission in this part.</span>
                        {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% endif %}
         </div>
      </div>
   </div>
</section>
{% endblock %}

{% block modal %}
<div class="modal modal-attachment fade" id="attachmentViewModal" tabindex="-1" role="dialog" aria-labelledby="attachmentModal" aria-hidden="true">
   <div class="modal-dialog modal-md" role="document">
      <div class="modal-content text-sm">
         <div class="modal-header">
            <h6 class="modal-title">Attachment</h6>
         </div>
         <div class="modal-body">
            <form id="form">
               <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex p-2 pt-3 pb-3"> 
                     <div class="mr-auto">File Name</div>
                     <div class="font-weight-bold" style="width: 60% !important;">
                         <p class="p-0 m-0 text-right" id="txt-file"></p>
                     </div>
                 </li>
                 <li class="list-group-item d-flex p-2 pt-3 pb-3">
                     <div class="mr-auto">Description</div>
                     <div class="font-weight-bold" style="width: 60% !important;">
                        <p class="p-0 m-0 text-right" id="txt-description"></p>
                     </div>
                  </li>
                  <li class="list-group-item d-flex p-2 pt-3 pb-3">
                     <div class="mr-auto">Type</div>
                     <div class="font-weight-bold" style="width: 60% !important;">
                        <p class="p-0 m-0 text-right" id="txt-type"></p>
                     </div>
                  </li>
                  <li class="list-group-item d-flex p-2 pt-3 pb-3">
                     <div class="mr-auto">Size</div>
                     <div class="font-weight-bold" style="width: 60% !important;">
                        <p class="p-0 m-0 text-right" id="txt-size"></p>
                     </div>
                  </li>
                  <li class="list-group-item d-flex p-2 pt-3 pb-3">
                     <div class="mr-auto">Date Uploaded</div>
                     <div class="font-weight-bold" style="width: 60% !important;">
                        <p class="p-0 m-0 text-right" id="txt-upload-date"></p>
                     </div>
                  </li>
                  <li class="list-group-item d-flex p-2 pt-3 pb-3">
                     <div class="mr-auto">Uploaded By</div>
                     <div class="font-weight-bold" style="width: 60% !important;">
                        <p class="p-0 m-0 text-right" id="txt-owner"></p>
                     </div>
                  </li>
               </ul>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-light m-0 mr-2" id="btn_close" data-dismiss="modal"><span>Close</span> </button>
            <a class="btn btn-sm btn-orange m-0" id="btn_download"><span>Download</span></a>
         </div>
      </div>
   </div>
</div>

<!-- User Details Modal-->
<div class="modal modal-userdetail fade" id="userdetailModal" tabindex="-1" role="dialog" aria-labelledby="userdetailModal" aria-hidden="true">
   <div class="modal-dialog modal-md" role="document">
      <div class="modal-content text-sm">
         <div class="modal-header">
            <h6 class="modal-title">Details - Requested By</h6>
         </div>
         <div class="modal-body">
            <form id="form">
               <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex p-2 pt-3 pb-3"> 
                     <div class="mr-auto list-modal-key">Full Name</div>
                     <div class="font-weight-bold" style="width: 60% !important;">
                         <p class="p-0 m-0 text-right">
                           {{ticket.requested_by.first_name}}
                           {% if ticket.requested_by.middle_name %} {{ticket.requested_by.middle_name}} {% endif %}
                           {{ticket.requested_by.last_name}}
                           {% if ticket.requested_by.suffix %} {{ticket.requested_by.suffix}} {% endif %}
                         </p>
                     </div>
                 </li>
                  <li class="list-group-item d-flex p-2 pt-3 pb-3">
                     <div class="mr-auto list-modal-key">Username</div>
                     <div class="font-weight-bold" style="width: 60% !important;">
                        <p class="p-0 m-0 text-right">{{ticket.requested_by.username}}</p>
                     </div>
                  </li>
                  <li class="list-group-item d-flex p-2 pt-3 pb-3">
                     <div class="mr-auto list-modal-key">Email</div>
                     <div class="font-weight-bold" style="width: 60% !important;">
                        <p class="p-0 m-0 text-right">{{ticket.requested_by.email}}</p>
                     </div>
                  </li>
                 <li class="list-group-item d-flex p-2 pt-3 pb-3"> 
                     <div class="mr-auto list-modal-key">Department</div>
                     <div class="font-weight-bold" style="width: 60% !important;">
                         <p class="p-0 m-0 text-right">{{ticket.requested_by.department}}</p>
                     </div>
                 </li>

                  <li class="list-group-item d-flex p-2 pt-3 pb-3">
                     <div class="mr-auto list-modal-key">Mobile and Local No</div>
                     <div class="font-weight-bold" style="width: 60% !important;">
                        <p class="p-0 m-0 text-right">{{ticket.requested_by.contact_no}}</p>
                     </div>
                  </li>
                  <li class="list-group-item d-flex p-2 pt-3 pb-3">
                     <div class="mr-auto list-modal-key">License No</div>
                     <div class="font-weight-bold" style="width: 60% !important;">
                        <p class="p-0 m-0 text-right">{{ticket.requested_by.license_no}}</p>
                     </div>
                  </li>
                  <li class="list-group-item d-flex p-2 pt-3 pb-3">
                     <div class="mr-auto list-modal-key">Date Joined</div>
                     <div class="font-weight-bold" style="width: 60% !important;">
                        <p class="p-0 m-0 text-right">Since {{ticket.requested_by.date_joined|date:"d F Y"}}</p>
                     </div>
                  </li>
               </ul>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-light m-0" id="btn_close" data-dismiss="modal"><span>Close</span> </button>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'src/js/requests/request_view.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/requests/attachments.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/requests/actions.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/requests/comment.js' %}"></script>

<script src="{% static 'lib/js/websocket-comment.js' %}"></script>
{% endblock %}