{% extends '../../base.html' %}
{% load static %}

{% block title %} Track Request {% endblock %}

{% block extrastyle %}
{% endblock %}

{% block content %}
<!-- Content Header -->
<section class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h5 class="font-weight-bolder">Track Request</h5>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right text-xs">
               <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-orange"><i
                        class="fas fa-home"></i></a></li>
               <li class="breadcrumb-item">Tracking</li>
               <li class="breadcrumb-item active">List</li>
            </ol>
         </div>
      </div>
   </div>
</section>

<!-- /.content -->
<section class="content">
   <div class="container-fluid">


      <!-- Default box -->
      <div class="row">
         <div class="col-12 m-0">
            <div class="card bg-secondary mt-2 mb-2">
               <div class="card-body p-0">
                  <div class="container-fluid">
                     <form onSubmit="return false;">
                        <div class="row">
                           <div class="col-12 col-sm-4 p-1 ">
                              <input id="txt_tracking_num" type="search" class="form-control form-control-sm" placeholder="Input tracking number">
                           </div>
                        </div>
                     </form>
                  </div>               
               </div>
            </div>
         </div>
      </div>

      <div class="row">
         <!-- Datatable -->
         <div class="col-md-9 col-sm-12">
            <div class="card mt-2 mb-2">
               <div class="card-body p-1">
                  <table id="dt_tracking" class="table table-hover" width="100%">
                     <thead>
                        <tr>
                           <th>Date</th>
                           <th>Time</th>
                           <th>Status</th>
                           <th>Action Officer</th>
                        </tr>
                     </thead>
                     <!-- <tbody>
                        <tr>
                           <td colspan="4" class="text-center">No data available in table</td>
                        </tr>
                     </tbody> -->
                  </table>
               </div>
            </div>
         </div> <!-- Datatable end-->

         <div class="col-md-3 col-sm-12">
            <div class="card mt-2 mb-2"> <!-- CARD COMMENT -->
               <div class="card-header p-2">
                  <form id="form-comment"> <!-- FORM -->
                     <div class="d-flex flex-row align-items-start"> <!-- COMMENT TEXTAREA -->
                        <textarea class="form-control shadow-none textarea" id="txtarea-comment"></textarea>
                     </div> <!-- COMMENT TEXTAREA END -->
                  
                     <div class="mt-2 text-right">
                        <button class="btn btn-primary btn-sm shadow-none" type="button" id="btn-save">Post comment</button>
                     </div>
                  </form> <!-- FORM END -->
               </div>
               
               <div class="card-body p-1"> <!-- CARD BODY -->
                  <div class="d-flex flex-column comment-section">  <!-- COMMENT SECTION -->
                     <!-- <div class="bg-white p-1 user-comment">
                        <div class="d-flex flex-column justify-content-start">
                           <span class="d-block font-weight-bold name">John Doe</span>
                           <span class="text-muted text-xs">Jan 1, 2020</span>
                        </div>
                        <div class="mt-2">
                           <p class="comment-text">Comment Here</p>
                        </div>
                     </div> -->
                  </div>  <!-- COMMENT SECTION END -->
               </div> <!-- CARD BODY END -->            
            </div> <!-- CARD COMMENT END -->
         </div>
      </div>


</section>
{% endblock %}

{% block extrascript %}
   <script type="text/javascript" src="{% static 'src/js/requests/track.js' %}"></script>
   <script type="text/javascript" src="{% static 'src/js/requests/comments.js' %}"></script>
{% endblock %}