<footer class="main-footer p-2 d-flex align-items-center justify-content-md-start">
    <div class="px-2"><p class="m-0 text-xs font-weight-bold text-muted">© 2021</p></div>
    <div class="px-2"><p class="m-0 text-xs font-weight-bold"><a class="text-muted" href="https://spmc.doh.gov.ph/">Southern Philippines Medical Center</a></p></div>
    <div class="px-2"><p class="m-0 text-xs font-weight-bold text-muted">IHOMS</p></div>
    {% comment %} <div class="px-2"><p class="m-0 text-xs font-weight-bold text-muted">AdminLTE.io</p></div> {% endcomment %}
    {% comment %} <p class="m-0 text-xs"><strong>Version</strong> 1.0</p> {% endcomment %}
</footer>