<nav class="navbar navbar-fixed navbar-expand-lg navbar-light shadow-sm bg-light">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-3">
            <a class="nav-link nav-icon" href="#"><i class="fas fa-bell"></i></a>
        </li>
        <li class="nav-item dropdown ml-3">
            <a class="nav-link nav-user dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <p>Aldrich Muyco</p>
                <p class="small">Administrator</p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
    </ul>
</nav>