{% load static %}

<!-- JQuery -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<!-- Axios -->
<script src="{% static 'vendor/axios/axios.min.js' %}"></script>

<!-- Bootstrap tooltips -->
<script src="{% static 'vendor/popper/popper.min.js' %}"></script>

<!-- Boostrap -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Select2 -->
<script src="{% static 'vendor/select2/js/select2.full.min.js' %}"></script>

<!-- Datatables -->
<script src="{% static 'vendor/datatables/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendor/datatables/datatables-plugins/dataTables.render.ellipsis.js' %}"></script>

<!-- Sweet Alert 2 -->
<script src="{% static 'vendor/sweetalert2/js/sweetalert2.all.min.js' %}"></script>

<!-- Moment -->
<script src="{% static 'vendor/moment/moment.js' %}"></script>

<!-- AdminLTE -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>

<!-- Custom Libraries -->
<script src="{% static 'lib/js/library.js' %}"></script>