<!-- Sidebar -->

<nav id="sidebar">
    <div class="sidebar-header">
        <p class="sidebar-title"></p>
    </div>

    {% with request.resolver_match.url_name as url %}
    <div class="sidebar-body">
        <ul class="nav flex-column">
            <p class="item-heading">Navigation</p>
            <li class="nav-item">
                <a href=" {% url 'home' %}" class="nav-link {% if url == 'home'%} active {% endif %}">
                    <i class="fas fa-sm fa-rocket mr-2 icon"></i>
                    Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            <p class="item-heading">Apps</p>
            <li class="nav-item collapsed" data-toggle="collapse" data-target="#core">
                <a href=" {% url 'home' %}" class="nav-link {% if url == 'home'%} active {% endif %}">
                    <i class="fas fa-sm fa-users-cog mr-2 icon"></i>
                    Core <span class="arrow"></span></a>
                </a>
                <ul class="sub-nav collapse" id="core">
                    <li class="nav-item">
                        <a class="sub-nav-link" href="#"> menu 1 </a>
                    </li>
                    <li class="nav-item">
                        <a class="sub-nav-link" href="#"> menu 2 </a>
                    </li>
                    <li class="nav-item">
                        <a class="sub-nav-link" href="#"> menu 3 </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item collapsed" data-toggle="collapse" data-target="#config">
                <a href=" {% url 'home' %}" class="nav-link {% if url == 'home'%} active {% endif %}">
                    <i class="fas fa-sm fa-cog mr-2 icon"></i>
                    Configuration</span>
                </a>
                <ul class="sub-nav collapse show" id="config">
                    <li class="nav-item activeL">
                        <a class="sub-nav-link" href="#"> Departments </a>
                    </li>
                    <li class="nav-item">
                        <a class="sub-nav-link" href="#"> Categories </a>
                    </li>
                    <li class="nav-item">
                        <a class="sub-nav-link" href="#"> Types </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href=" {% url 'home' %}" class="nav-link {% if url == 'home'%} active {% endif %}">
                    <i class="fas fa-sm fa-pen mr-2 icon"></i>
                    Requests</span>
                </a>
            </li>
            <li class="nav-item">
                <a href=" {% url 'home' %}" class="nav-link {% if url == 'home'%} active {% endif %}">
                    <i class="fas fa-sm fa-clock mr-2 icon"></i>
                    Track Logs</span>
                </a>
            </li>

            <!-- <p class="item-heading">Reports</p> -->
        </ul>
    </div>


    <div class="sidebar-footer">

    </div>

    {% endwith %}
</nav>