{% load static %}

<!-- Sidebar -->
<aside class="main-sidebar elevation-4 sidebar-dark-orange">
   <!-- Brand Logo -->
   <a href="#" class="brand-link text-center">
      <span class="brand-text font-weight-light">Admin</span>
   </a>

   <!-- Sidebar -->
   <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">

         {% with request.resolver_match.url_name as url %}
         <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent text-sm" data-widget="treeview" role="menu"
            data-accordion="false">

            <li class="nav-header text-muted">NAVIGATION</li>
            <li class="nav-item">
               <a href="{% url 'home' %}" class="nav-link {% if url == 'home' %} active {% endif %}">
                  <i class="nav-icon fas fa-rocket"></i>
                  <p> Dashboard</p>
               </a>
            </li>

            {% comment %}
            <li class="nav-item">
               <a href="{% url 'users' %}" class="nav-link {% if url == 'users' %} active {% endif %}">
                  <i class="nav-icon fas fa-user-cog"></i>
                  <p> Users </p>
               </a>
            </li>
            {% endcomment %}

            <li
               class="nav-item {% if url == 'department' or url == 'category' or url == 'types' or url == 'forms'  %} menu-open {% endif %}">
               <a href="#"
                  class="nav-link {% if url == 'department' or url == 'category' or url == 'types' or url == 'forms' %} active {% endif %}">
                  <i class="nav-icon fas fa-cog"></i>
                  <p>
                     Configuration
                     <i class="right fas fa-angle-left"></i>
                  </p>
               </a>
               <ul class="nav nav-treeview">
                  <li class="nav-item">
                     <a href="{% url 'department' %}" class="nav-link {% if url == 'department' %} active {% endif %}">
                        <i class="nav-icon far fa-circle"></i>
                        <p>Departments</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="{% url 'category' %}" class="nav-link {% if url == 'category' %} active {% endif %}">
                        <i class="nav-icon far fa-circle"></i>
                        <p>Categories</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="{% url 'types' %}" class="nav-link {% if url == 'types' %} active {% endif %}">
                        <i class="nav-icon far fa-circle"></i>
                        <p> Category Types</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="{% url 'forms' %}" class="nav-link {% if url == 'forms' %} active {% endif %}">
                        <i class="nav-icon far fa-circle"></i>
                        <p> Forms </p>
                     </a>
                  </li>
               </ul>
            </li>
            <li class="nav-item {% if url == 'ticket' or url == 'boards' %} menu-open {% endif %}">
               <a href="#" class="nav-link {% if url == 'ticket' or url == 'boards' %} active {% endif %}">
                  <i class="nav-icon fas fa-pen"></i>
                  <p>
                     Request
                     <i class="right fas fa-angle-left"></i>
                  </p>
               </a>
               <ul class="nav nav-treeview">
                  <li class="nav-item">
                     <a href="{% url 'ticket' %}" class="nav-link {% if url == 'ticket' %} active {% endif %}">
                        <i class="nav-icon far fa-circle"></i>
                        <p>Lists</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="{% url 'boards' %}" class="nav-link {% if url == 'boards' %} active {% endif %}">
                        <i class="nav-icon far fa-circle"></i>
                        <p>Boards</p>
                     </a>
                  </li>
               </ul>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-location-arrow"></i>
                  <p> Track Requests</p>
               </a>
            </li>
         </ul>
         {% endwith %}

      </nav>
      <!-- /.sidebar-menu -->
   </div>
   <!-- /.sidebar -->
</aside>