<script>
    let loc = window.location
    let wsStart = loc.protocol == "https:" ? "wss://" : "ws://";
    let url = wsStart + loc.host + '/ws/notifications/';
    const socket = new WebSocket(url)

    socket.onopen = function(event) {
        $('.online-status').addClass('text-success')
        DisplayNotifications();
    }

    socket.onmessage = function(event) {
        //console.log(event)
        //console.log(JSON.parse(event.data))
        DisplayNotifications();
    }

    socket.onclose = function(event) {
        $('.online-status').removeClass('text-success');
    }

    socket.onerror = function(event) {
        console.log(event)
        console.log('something went wrong')
    }

    let DisplayNotifications = function(){
        getUserNotifications().then(data=>{
            let notifications = data
            unread_count = notifications.filter(obj=>obj.unread==true).length
            //console.log(notifications)
    
            if (notifications.length){ // if notification is available
                if (notifications.length < 2){
                    $('.dropdown-notifications-title').html(`${notifications.length} Notication`)
                } else if (notifications.length >= 2){
                    $('.dropdown-notifications-title').html(`${notifications.length} Notications`)
                }
                $('.new-notifications-count').html(unread_count)
                
                var save = $('.dropdown-notifications-div .dropdown-notifications-title').detach();
                $('.dropdown-notifications-div').empty().append(save);
                for (i=0; i<notifications.length; i++){
                    user = `${notifications[i].user.first_name} ${notifications[i].user.last_name}`
                    action = `${notifications[i].log.event_type}`
                    if (action === 'Create') action = 'created';
                    else if (action === 'Update') action = 'updated';
    
                    ticket_no = `${notifications[i].log.object_id}`.substr(notifications[i].log.object_id.length - 10).toUpperCase()
                    $('.dropdown-notifications-div').append(
                        `<div class="dropdown-divider"></div>
                        <a href="/requests/track" class="dropdown-item">
                           <span class="text-bolder text-sm">${ticket_no}</span>
                           <span class="text-muted text-sm">${action} by ${user}</span>
                           <span class="float-right text-muted text-sm"></span>
                        </a>`
                    )
                }
                $('.dropdown-notifications-div a').click(function(){
                    localStorage.setItem("ticketNumber", $(this).children().first().html());
                })
            } else {
                $('.dropdown-notifications-title').html(`0 Notication`)
            }
        });
    }
</script>