asgiref==3.2.7
Django==3.0.7
django-crispy-forms==1.9.2
django-mysql==3.8.1
djangorestframework==3.11.0
djangorestframework-datatables==0.5.2
drf-writable-nested==0.6.0
mysqlclient==1.4.6
pkg-resources==0.0.0
python-decouple==3.3
pytz==2020.1
sqlparse==0.3.1
