{% extends 'base.html' %}
{% load static %}

{% block title %} - Login{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'src/css/core.css' %}">
{% endblock %}

{% block body %}
<div class="wrapper bg-gradient small">
   <div class="wrap">
      <div class="card mx-auto">
         <div class="card-body m-0 p-5">

            <h2 class="display-4 font-weight-bold"> Hello There. </h2>
            <p> Log in to continue</p>
            <form class="mt-4">
               <div class="bmd-form-group bmd-form-group-sm">
                  <label for="lbl-username" class="bmd-label-floating">Username</label>
                  <input type="text" class="form-control" id="txt-username">
               </div>
               <div class="bmd-form-group bmd-form-group-sm">
                  <label for="lbl-password" class="bmd-label-floating">Password</label>
                  <input type="password" class="form-control" id="txt-password">
               </div>
               <button type="button" class="btn btn-raised btn-block mt-5 btn-login">LOGIN</button>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'src/js/core.js' %}"></script>
{% endblock %}