{% load static crispy_forms_tags %}

<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <title> Track-it | Login </title>

   <!-- Tell the browser to be responsive to screen width -->
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- CSS Dependencies -->
   {% include "snippets/styles.html" %}
   <link rel="stylesheet" href="{% static 'src/css/login.css' %}">

</head>

<body class="bg-dark text-sm">
   <div class="wrapper small">
      <div class="wrap">
         <div class="card mx-auto shadow">
            <div class="card-header">
               <h1 class="text-light font-weight-bold">Welcome Back!</h1>
               <p class="text-light m-0">Login with your personal info.</p>
            </div>
            <div class="card-body">
               <h4 class="font-weight-bold text-orange mb-4"> Sign in to Track-It </h4>
               <!-- <p> Log in to continue</p> -->
               <form method="post" novalidate>
                  {% csrf_token %}
                  {{ form|crispy }}
                  <button type="submit" class="btn btn-orange btn-btn-login my-3">sign in</button>
                  <p class="mt-2">Not yet registered?
                     <a href="" class="font-weight-bold btn-link-orange">Create an Account</a>
                  </p>
                  <p><a href="https://www.tinyurl.com/ihompreset" target="_blank"
                        class="font-weight-bold btn-link-orange">Forgot
                        Password?</a>
                  </p>
               </form>
            </div>
         </div>
      </div>
   </div>

   <!-- Scripts Dependencies -->
   {% include "snippets/scripts.html" %}
</body>

</html>