{% load static crispy_forms_tags %}

<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <title> Track-it | Login </title>

   <!-- Tell the browser to be responsive to screen width -->
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- CSS Dependencies -->
   {% include "snippets/styles.html" %}
   <link rel="stylesheet" href="{% static 'src/css/auth.css' %}">

</head>

<body class="bg-dark text-sm">
   <div class="wrapper small">
      <div class="wrap">
         <div class="card mx-auto shadow">
            <div class="card-header px-5 py-4">
               <h1 class="text-light text-center text-md-left font-weight-bold mx-3 mt-4">Welcome Back!</h1>
               <p class="text-light text-center text-md-left mx-3 my-0">To keep track of your requests please login into
                  your account</p>
            </div>
            <div class="card-body px-4 px-md-5 py-4 m-3">
               <h4 class="font-weight-bold text-center text-md-left text-orange mb-4"> Sign in to Track-It </h4>
               <!-- <p> Log in to continue</p> -->
               <form method="post" novalidate class="text-center text-md-left">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <button type="submit" class="btn btn-orange btn-btn-login my-2">sign in</button>
                  <p class="my-3">Not yet registered?
                     <a href="#" class="font-weight-bold btn-link-orange" id="btn_register">Create an Account</a>
                  </p>
                  <p class="my-3"><a href="https://www.tinyurl.com/ihompreset" target="_blank"
                        class="font-weight-bold btn-link-orange">Forgot
                        Password?</a>
                  </p>
               </form>
            </div>
         </div>
      </div>
   </div>

   <!-- Notice Modal -->
   <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="noticeModal"
      aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
         <div class="modal-content">
            <div class="modal-body m-4 p-5">
               {% include "snippets/fragments/notice.html" %}
            </div>
         </div>
      </div>
   </div>

   <!-- Scripts Dependencies -->
   {% include "snippets/scripts.html" %}
   <script type="text/javascript" src="{% static 'src/js/auth/login.js' %}"></script>
</body>

</html>