{% load static %}

<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <title> Track-it | Register </title>

   <!-- Tell the browser to be responsive to screen width -->
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- CSS Dependencies -->
   {% include "snippets/styles.html" %}
   <link rel="stylesheet" href="{% static 'src/css/auth.css' %}">

</head>

<body class="bg-dark text-sm">
   <div class="wrapper small">
      <div class="wrap">
         <div class="card mx-auto shadow">
            <div class="card-header px-5 py-4">
               <h1 class="text-light text-center text-md-left font-weight-bold mx-0 mt-4">Hello There!</h1>
               <p class="text-light text-center text-md-left m-0">Enter your personal information.
               </p>
            </div>
            <div class="card-body px-3 px-md-5 py-4">
               <h4 class="font-weight-bold text-center text-md-left text-orange mb-4"> Create An Account </h4>
               <!-- <p> Log in to continue</p> -->
               <form class="text-center text-md-left">
                  <div class="form-row text-left">
                     <div class="col-12 col-lg-6 mb-2">
                        <input type="text" class="form-control" id="txt_firstname" placeholder="First name *">
                        <small class="error-info" id="firstname_error"></small>
                     </div>
                     <div class="col-12 col-lg-6 mb-2">
                        <input type="text" class="form-control" id="txt_lastname" placeholder="Last name *">
                        <small class="error-info" id="lastname_error"></small>
                     </div>
                  </div>
                  <div class="form-row text-left">
                     <div class="col-12 col-lg-6 mb-2">
                        <input type="text" class="form-control" id="txt_contact" placeholder="Mobile and Local No*">
                        <small class="error-info" id="contact_error"></small>
                     </div>
                     <div class="col-12 col-lg-6 mb-2">
                        <input type="text" class="form-control" id="txt_license" placeholder="License No (optional)">
                        <small class="error-info" id="license_error"></small>
                     </div>
                  </div>
                  <div class="form-group text-left">
                     <select class="form-control" id="select2_department" style="width: 100%">
                        <option></option>
                        {% for department in departments %}
                        <option value={{department.id}}>{{department.name}}</option>
                        {% endfor %}
                     </select>
                     <small class="error-info" id="department_error"></small>
                  </div>
                  <div class="form-group text-left">
                     <input type="email" class="form-control" id="txt_email"
                        placeholder="Email Address (email@address.com) *">
                     <small class="error-info" id="email_error"></small>
                  </div>
                  <div class="form-group text-left">
                     <input type="text" class="form-control" id="txt_username" placeholder="Username *">
                     <small class="error-info" id="username_error"></small>
                  </div>
                  <div class="form-group text-left">
                     <input type="password" class="form-control" id="txt_password1" placeholder="Password *">
                     <small class="text-muted d-block help-text">
                        Your password can’t be too similar to your other personal information. <br>
                        Your password must contain at least 8 characters. <br>
                        Your password can’t be a commonly used password. <br>
                        Your password can’t be entirely numeric.
                     </small>
                  </div>
                  <div class="form-group text-left">
                     <input type="password" class="form-control" id="txt_password2" placeholder="Confirm Password *">
                     <small class="error-info" id="password_error"></small>
                  </div>
                  <button type="submit" class="btn btn-orange btn-sign my-2" id="btn_signup">sign up</button>
                  <p class="my-3">Already have an account?
                     <a href="{% url 'login'  %}" class="font-weight-bold btn-link-orange">Sign in</a>
                  </p>
               </form>
            </div>
         </div>
      </div>
   </div>

   <!-- Notice Modal -->
   <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="noticeModal"
      aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
         <div class="modal-content">
            <div class="modal-body m-4 p-5">
               {% include "snippets/fragments/notice.html" %}
            </div>
         </div>
      </div>
   </div>

   <!-- Scripts Dependencies -->
   {% include "snippets/scripts.html" %}
   <script type="text/javascript" src="{% static 'src/js/auth/register.js' %}"></script>
</body>

</html>