{% load static crispy_forms_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title> Track-it | Register </title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Dependencies -->
    {% include "snippets/styles.html" %}
    <link rel="stylesheet" href="{% static 'src/css/auth.css' %}">

</head>

<body class="bg-dark text-sm">
    <div class="wrapper small">
        <div class="wrap">
            <div class="card card-verify mx-auto shadow">
                <div class="card-header px-5 py-4">
                    <h1 class="text-light text-center text-md-left font-weight-bold mx-3 mt-4">Hello Louie!</h1>
                    <p class="text-light text-center text-md-left mx-3 my-0">To confirm you are you please upload
                        digital photos any of the valid documents from HRMO.
                    </p>
                </div>
                <div class="card-body px-4 px-md-5 py-4 m-3">
                    <h4 class="font-weight-bold text-center text-md-left text-orange mb-4"> Upload documents </h4>
                    <form class="text-center text-md-left">
                        <button type="submit" class="btn btn-orange btn-sign my-3">Submit</button>
                        <!-- <p class="mt-2"> <a href="{% url 'login'  %}" class="text-secondary">Skip</a>
                        </p> -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts Dependencies -->
    {% include "snippets/scripts.html" %}
</body>

</html>