<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <title> Trackit |{% block title %} {% endblock %}</title>

   <!-- Tell the browser to be responsive to screen width -->
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- CSS Dependencies -->
   {% include "snippets/styles.html" %}
   {% block extrastyle %} {% endblock %}

</head>

<body class="hold-transition sidebar-mini text-sm">

   <!-- Site wrapper -->
   <div class="wrapper text-sm">

      <!-- Navbar -->
      {% include "snippets/navbar.html" %}

      <!-- Sidebar -->
      {% include "snippets/sidebar.html" %}

      <!-- Main Content -->
      <div class="content-wrapper">
         {% block content %} {% endblock %}
      </div>

   </div>

   {% block modal %} {% endblock %}

   <!-- Scripts Dependencies -->
   {% include "snippets/scripts.html" %}
   {% block extrascript %} {% endblock %}

</body>

</html>