/* Content-header */

/* Borders */
.bt-primary {border-top: 4px solid #007bff;}
.bt-secondary {border-top: 4px solid #6c757d;}
.bt-success {border-top: 4px solid #28a745;}
.bt-info {border-top: 4px solid #17a2b8;}
.bt-warning {border-top: 4px solid #ffc107;}
.bt-danger {border-top: 4px solid #dc3545;}
.bt-purple {border-top: 4px solid #8a94ee;}

.bl-primary {border-left: 4px solid #007bff;}
.bl-secondary {border-left: 4px solid #6c757d;}
.bl-success {border-left: 4px solid #28a745;}
.bl-info {border-left: 4px solid #17a2b8;}
.bl-warning {border-left: 4px solid #ffc107;}
.bl-danger {border-left: 4px solid #dc3545;}

.bb-primary {border-bottom: 4px solid #007bff;}
.bb-secondary {border-bottom: 4px solid #6c757d;}
.bb-success {border-bottom: 4px solid #28a745;}
.bb-info {border-bottom: 4px solid #17a2b8;}
.bb-warning {border-bottom: 4px solid #ffc107;}
.bb-danger {border-bottom: 4px solid #dc3545;}

.br-primary {border-right: 4px solid #007bff;}
.br-secondary {border-right: 4px solid #6c757d;}
.br-success {border-right: 4px solid #28a745;}
.br-info {border-right: 4px solid #17a2b8;}
.br-warning {border-right: 4px solid #ffc107;}
.br-danger {border-right: 4px solid #dc3545;}

/* Buttons  */
.btn-action {
    padding: 1px 6px;
}

.text-sm .btn-action {
    font-size: 12px !important;
}

#btn-new {
    margin-top: 8px;
    font-size: 13px !important; 
}

/* Sidebar */
.sidebar .nav .nav-header {
   font-size: 12px;
}
.sidebar .nav .nav-item .nav-link {
   padding: 8px 10px;
   display: flex;
   align-items: center;  
}

.sidebar .nav .nav-item .nav-link .nav-icon {
   font-size: 14px !important;
}

.sidebar .nav.nav-legacy .nav-item a.nav-link.active {
    background-color: rgba(0, 0, 0, 0.1);
}
