
body {
   font-size: .875rem !;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-gradient {
   background: rgb(2,0,36);
   background: linear-gradient(145deg, 
   #020024 0%, 
   #395fa1  0%, 
   #3c4b64 100%);
}

.bg-light-blue {
   background-color: #395fa1 !important;
}

.bg-blue {
   background-color: #3c4b64 !important;
}