/* Overlay */
.overlay {
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #343a4023;
 }
 
.container-fluid {
   color: #59626b;
   font-size: 12px;
}

.card-form .card-header {
   background-color: #e3E5ED 
}

.card-form .card-header .card-title,
.card-form .card-header .card-toggle-icon {
   font-size: 10px;
   font-weight: bold;
   text-transform: uppercase;
   color: #717c87;
}

.card-form .card-body .form-group>label {
   color: #59626b !important;
   font-weight:bold !important;
   font-size: 10px !important;
}

.card-form .card-body >p.preface {
    color: #5f6b77 !important;
    font-weight:bold !important;
}

/* Event Cards */
.event-card {
    padding: 8px 14px;
    margin:0;
    border-left: 4px solid;
}
.event-card:hover {
    cursor: pointer;
    background-color: #fff5ee;
}
.event-card .event-title {
    font-size: 12px !important;
    font-weight:bold !important;
    color: #5f6b77;
    margin:0;
    line-height: 14px;
}
.event-card .event-subject {
    color: #5f6b77 !important;
    font-size: 10px !important;
}

.event-card #event_edit:hover
.event-card #event_drag:hover {
    color: #ff953e !important;
}
.event-card #event_drag:hover {
    cursor: grab;
}

/* 
.form-control,
.input-group-append .btn {
    border-color: #e4e4e4 !important; 
}
  */
.state-icon {
    font-size: 2em;
    color: #d8dbe4;
 }
 .state-text {
    color: #a5a7aa;
    font-style: italic;
 }

 /* pagination */
.pagination {
    font-size: 11px !important;
}
 
.pagination .page-link {
    color: #FD7E14;
    line-height: 1.3em;
    box-shadow: none;
    height: 30px;
}
 
.pagination .page-item.active .page-link {
    background-color: #FD7E14 !important;
    border-color: #FD7E14 !important;
    box-shadow: none;
    color:#fff;
}

/* Full Calendar */
.fc-header-toolbar {
    padding: 10px !important;
}
.fc-toolbar .fc-toolbar-chunk .btn,
.fc-toolbar .fc-toolbar-chunk .btn.group .btn {
    font-size: 12px !important;
    padding: 8px 12px;
    background-color: #FD7E14 !important;
    border-radius: .25rem !important;
    border:0;
}
.fc-toolbar .fc-toolbar-chunk .btn:hover,
.fc-toolbar .fc-toolbar-chunk .btn-group .btn:hover,
.fc-toolbar .fc-toolbar-chunk .btn-group .btn.active  {
    background-color: #e77619 !important;
}
.fc-toolbar .fc-toolbar-chunk .btn-group > .btn:not(:first-child),
.fc-toolbar .fc-toolbar-chunk .btn-group > .btn:not(:last-child) {
    border-radius: 0 !important;
}
.fc-toolbar .fc-toolbar-chunk .btn-group .btn:first-child {
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem!important;
}
.fc-toolbar .fc-toolbar-chunk .btn-group .btn:last-child {
    border-top-right-radius: .25rem!important;
    border-bottom-right-radius: .25rem!important;
}

.fc-toolbar .fc-toolbar-chunk .fc-toolbar-title {
    font-size: 20px;
    font-weight: bold;
}

.fc-day-today {
    background-color: #fff5ee !important;
}
