html, body {
   height:100%;
}

.wrapper {
   min-height: 100%;
}

.wrap {
   padding-top: 80px;
}

.card {
   width: 75%;
   border-radius: 15px;
   -webkit-box-shadow: 0px 0px 20px 0px rgba(110,110,110,0.7);
   -moz-box-shadow: 0px 0px 20px 0px rgba(110,110,110,0.7);
   box-shadow: 0px 0px 20px 0px rgba(110,110,110,0.7);
}

.card h2 {
   color: #6c63bd;
}

.card p {
   color: #1e4470;
}

.form-control {
   background-image: linear-gradient(0deg,#6c63bd 2px,rgba(33,150,243,0) 0),
      linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0) !important;
}

.is-focused .bmd-label-floating {
   color: #6c63bd !important;
}

.btn-login {
   border-radius: 20px !important;
   color: #fff;
   background: linear-gradient(90deg, 
   #020024 0%, 
   #6c63bd  0%, 
   #1e4470 100%);

}
@media (min-width: 1200px) { 
   .card {
      width: 30%;
   }
}