.profile-img {
    font-size: 0.7rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: #fccfaa;
    font-weight: bold;
    color: #997867;
    text-transform: uppercase;
}

.modal-md {
    max-width: 600px !important;
}

#modal-add-user .modal-body .nav.nav-tabs {
    border-bottom: 2px solid #dee2e6;
}
 
#modal-add-user .modal-body .nav .nav-item {
    margin-bottom: -2px;
    padding: 6  px 16px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #95a4b5;
    border:none;   
    transition: ease-in-out;
}
 
#modal-add-user .modal-body .nav .nav-item.active {
    border-bottom: 2px solid #FD7E14;
    color: #5f6b77;
}

.modal-body .text-muted {
    color: #95a4b5 !important;
}

.list-group-item {
    border-radius: 5px !important;
}

.list-group-item >small {
    font-size: 0.8em !important;
}

.card-preview:hover > .card {
    background-color: red;
}

.modal-preview {
    height: 100%;
}

.alert-verified {border: 1px solid #007bff;}
.alert-pending {border: 1px solid #17a2b8;}
.alert-decline {border: 1px solid #ffc107;}

.alert-pending > div > .btn {
    font-size: 12px !important;
}

.spinner-dash {
    width: 1rem;
    height: 1rem;
}