.dashcards a:link,
.dashcards a:visited,
.dashcards a:hover,
.dashcards a:active {
    text-decoration: none !important;
    color: #3e454d !important;
}

.card .card-title {
    font-size: 12px !important;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.card .card-body .card-no {
    font-size: 24px !important;
    font-weight: bold;
}

.card .card-body .card-label {
    font-size: 9px !important;
}

.card-wrap .card-body {
   position: relative;
   overflow: hidden;
}

.card-wrap .card-body .wrap-label {
   color: #fd7e14 !important
}

.card-wrap .card-body .icon-overlay  {
   text-decoration: inherit;
   position: absolute;
   font-size: 90px;
   color: #fd7e14;
   top: -14px;
   right: 0;
   transform: rotate(-20deg);
   opacity: 0.1;
}

.card-dash .card-title {
   text-transform: capitalize !important;
   color: #3e454d !important;   
   font-weight: bold;
}

.card-dash .item-col .item-image {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #fccfaa;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    color: #997867;
    text-transform: uppercase;
}

.card-dash .item-col .staff {
   background-color: #997867 !important;
   color: #fccfaa !important;
}

.card-dash .item-col .item-name {
   font-size: 10px !important;
}
.card-dash .item-col .item-date {
   font-size: 8px !important;
}

/* Disable Hover on datatable */
.card-dash table.dataTable tbody tr:hover {
   background-color: #ffffff;
}
  
.card-dash table.dataTable tbody tr:hover > .sorting_1 {
   background-color: #ffffff;
 }