.dashcards a:link,
.dashcards a:visited,
.dashcards a:hover,
.dashcards a:active {
    text-decoration: none !important;
    color: #3e454d !important;
}

.card .card-title {
    font-size: 12px !important;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.card .card-body .card-no {
    font-size: 24px !important;
    font-weight: bold;
}

.card .card-body .card-label {
    font-size: 9px !important;
}

.card .card-wrap {
   position: relative;
   overflow: hidden;
}

.card .card-wrap .wrap-label {
   color: #fd7e14 !important
}

.card .card-wrap .icon-overlay  {
   text-decoration: inherit;
   position: absolute;
   font-size: 90px;
   color: #fd7e14;
   top: -14px;
   right: 0;
   transform: rotate(-20deg);
   opacity: 0.1;
}