.container-fluid {
   color: #59626b;
   font-size: 12px;
}

.card-form .card-header {
   background-color: #e3E5ED 
}

.card-form .card-header .card-title,
.card-form .card-header .card-toggle-icon {
   font-size: 10px;
   font-weight: bold;
   text-transform: uppercase;
   color: #717c87;
}

.card-form .card-body .form-group>label {
   color: #59626b !important;
   font-weight:bold !important;
   font-size: 10px !important;
}

.card-form .card-body >p.preface {
    color: #5f6b77 !important;
    font-weight:bold !important;
}

/* Requests Detail */
.card-detail {
   padding: 8px 14px;
   margin:0;
   border-left: 4px solid #ff9800;
}

.card-detail:hover {
   background-color: #fff5ee;
}
.card-detail .card-body .label{
   color: #5f6b77 !important;
   font-size: 10px !important;
}
.card-detail .card-body .context {
   font-size: 12px !important;
   font-weight:bold !important;
   color: #5f6b77;
   margin:0;
   line-height: 14px;
}

.card-info {
   padding: 14px;
}
.card-info .info-text {
   color: #3e454d;
   font-size: 10px !important;
}
.card-info .card-body .label {
   color: #f17f32 !important;
   text-transform: uppercase;
   font-size: 10px !important;
   margin-bottom: 0;
}
.card-info .card-body .info {
   font-size: 10px !important;
   margin: 0;
}
.card-info .card-body .context {
   font-size: 12px !important;
   font-weight:bold !important;
   color: #5f6b77;
   margin:0px;
}
.card-info-default {
   background-color: #fff8f2;
   border: 1px solid #ffd1b7;
}
.card-info-warning {
   background-color: #fff9ea;
   border: 1px solid #ffe084;
}
.card-info-danger {
   background-color: #ffe4e6;
   border: 1px solid #c44a56 ;
}

.custom-control-label {
   cursor: pointer; 
   border: none; 
}

.custom-control-input:checked~.custom-control-label::before {
   color: #fff;
   border-color: #ff9800;
   background-color: #ff9800;
   box-shadow: none;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
   background-color: #ffffff;
   -webkit-transform: translateX(.75rem);
   transform: translateX(.75rem);
}

.container-fluid .form-actions .btn {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 6px;
 }

#btn_add,
.btn-remove {
   font-size: 12px !important;
   color: #fd7e14;
}
 
#btn_add:hover,
.btn-remove:hover  {
   color: #e46e0f;
}

.circle {
   height: 12px !important;
   width: 12px !important;
   border-radius: 15px;
}

.state-icon {
   font-size: 2em;
   color: #d8dbe4;
}
.state-text {
   color: #a5a7aa;
   font-style: italic;
}

.color-palette {
    width: 25px;
    height: 25px;
    transition: all 0.1s ease-in-out;
}
.color-palette.active:before {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    line-height: 1;
    color: #fff;
    content: "\2713";
    font-weight: bold;
}
.color-palette:hover {
    filter: brightness(85%);
    transform: rotate(-10deg);
}
.yale {background-color: #225da0;}
.sky {background-color: #2b84bf;}
.maya {background-color: #73C2FB;}
.teal {background-color: #61A4BC;}
.jungle {background-color: #29AB89;}
.pine {background-color: #0e8076;}
.moss {background-color: #8B9A46;}
.cider {background-color: #B4652A;}
.peanut {background-color: #946e38;}
.coffee {background-color: #C0A080;}
.sunflower {background-color: #f2a500;}
.peach {background-color: #f6a192;}
.default {background-color: #fd7e14;}
.dark {background-color: #595959;}
.stone {background-color: #7e7e7e;}
.maroon {background-color: #781D42;}
.persian {background-color: #cf4949;}
.redwood {background-color: #bd5f5f;}
.grape {background-color: #6b5892;}
.royal {background-color: #9067bb;}


/* Modals */
.modal-attendance .modal-body {
   /* padding: px !important; */
   max-height: 40em;
   min-height: auto;
}
.card-heading {
   padding: 0;
   margin: 0;
   border-bottom: 1px solid rgba(0,0,0,.1);
}
.card-heading div.col {
   font-size:10px;
   font-weight: 700;
   text-transform: uppercase;
   border: none;
   padding:8px 24px 8px 14px;
   color : #717c87 ;
   white-space:nowrap;
}
.card-attendance {
   display: flex;
   align-items: center;
   min-height: 38px;
   margin: 6px 0;
   border-radius: 0.25rem;
   box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}
.card-attendance div.col {
   font-size: 11px;
   font-weight:600;
   padding:8px 14px;
   color: #59626b;
   line-height: 14px; 
}

.row-error {
   border: 1px solid #dc3546a2 !important;
}

#schedule_wrapper {
   max-height: 40rem;
   overflow-y: auto;  
   overflow-x: hidden;
}

.table-headers {
   margin: 12px;
}

.action-link:hover {
   filter: brightness(70%);
}