.circle {
   height: 12px !important;
   width: 50px !important;
   border-radius: 15px;
}

.sp-original-input-container {
   border-radius: .2rem !important
}

#btn_add {
   margin: 0;
   padding: 0;
}

#btn_delete {
   font-size: 12px !important;
}

#btn_add,
.btn-remove {
   font-size: 12px !important;
   color: #fd7e14;
}

#btn_add:hover,
.btn-remove:hover  {
   color: #e46e0f;
}

.modal .modal-md {
   max-width: 700px !important;
}

.modal-body .nav.nav-tabs {
   border-bottom: 2px solid #dee2e6;
}

.modal-body .nav .nav-item {
   margin-bottom: -2px;
   padding: 6  px 16px;
   font-size: 10px;
   font-weight: bold;
   text-transform: uppercase;
   color: #95a4b5;
   border:none;   
   transition: ease-in-out;
}

.modal-body .nav .nav-item.active {
   border-bottom: 2px solid #FD7E14;
   color: #5f6b77;
}

.has-error .select2-selection {
   border-color: #dc3546a2 !important;
}

.color-palette {
   width: 25px;
   height: 25px;
   transition: all 0.1s ease-in-out;
}

.color-palette:hover {
   filter: brightness(85%);
   transform: rotate(-10deg);
}

.yale {background-color: #225da0;}
.sapphire {background-color: #0B54BC;}
.sky {background-color: #2b84bf;}
.maya {background-color: #73C2FB;}
.jungle {background-color: #29AB89;}
.pine {background-color: #0e8076;}
.cider {background-color: #B4652A;}
.peanut {background-color: #946e38;}
.sunflower {background-color: #f2a500;}
.dark {background-color: #595959;}
.stone {background-color: #7e7e7e;}
.persian {background-color: #cf4949;}
.redwood {background-color: #bd5f5f;}
.grape {background-color: #6b5892;}
.royal {background-color: #9067bb;}