html, body {
   height:100%;
}

input {
   color : #5f6b77 !important;
}

.text-muted {
   color: #c0c0c0 !important;
}

.wrapper {
   min-height: 100%;
}

.wrap {
   padding-top: 80px;
}

.dispaly-4 {
   font-size: 3rem !important;
}

.card {
   width:80%;
   border-radius: 0;
}
.card-header {
   background: rgb(255,173,106);
   background: linear-gradient(315deg, rgba(255,173,106,1) 0%, rgba(224,126,90,1) 100%);
   border-radius: 0;
   border: none;
}
.card-body .btn {
   font-size: 12px !important;
   text-transform: uppercase;
   padding: 0.6rem 4rem;
   border-radius: 20px !important;
   border:none;
}

.card p {
   color: #5f6b77;
}

.invalid-feedback {
   color:#dc3545 !important;
   font-size: 11px !important;
}

.asteriskField {
   display: none;
}

@media (min-width: 1200px) { 
   .card {
      width: 40%;
   }
}