/* Form Steppers */
.modal-body .nav {
   padding: 8px 0;
   margin: 8px 0;
}

.modal-body .nav .nav-item {
   margin: 0 4px;
}

.modal-body .nav .nav-item .nav-link {
   height: 6px;
   width: 100%;
   margin: auto;
   background-color: #ccc;
   border-radius: 2px;
   text-align: center;
   align-items: center;
   padding: 0;
}

.modal-body .nav .nav-item .nav-link.disabled {
   border: 1px solid #ccc;
}

.modal-body .nav .nav-item .nav-link.disabled > i {
   color: #ccc;
}
.modal-body .nav .nav-item .nav-link:hover,
.modal-body .nav .nav-item .nav-link.active {
   background-color: #FD7E14;
}

.modal-body .nav .nav-item .nav-link > i,
.modal-body .nav .nav-item .nav-link.active > i,
.modal-body .nav .nav-item .nav-link.disabled > i  {
   font-size: 8px !important;
}

.modal-body .nav .nav-item .nav-link > i {
   color:#FD7E14;
}

.modal-body .nav .nav-item .nav-link.active > i,
.modal-body .nav .nav-item .nav-link.active:hover > i,
.modal-body .nav .nav-item .nav-link:hover > i { 
   color:#fff; 
}

.modal-body .nav .nav-item .nav-link-label {
   font-size: 9px !important;
   color: #454849;
   margin-top: 4px;
   margin-bottom: 0;
}

.modal-body .tab-content .tab-pane #btn_previous,
.modal-body .tab-content .tab-pane #btn_next {
   height: 26px;
   width: 26px;
   padding: 0;
}

.modal-body .tab-content .tab-pane #btn_previous > i,
.modal-body .tab-content .tab-pane #btn_next  > i {
   vertical-align: middle !important;
   padding: 4px;
}