.wrapper {
   display: flex;
   width: 100%;
   align-items: stretch;
}

/* Sidebar */
#sidebar {
   min-width: 250px;
   max-width: 250px;
   min-height: 100vh;
   display: flex;
   flex-flow: column;
   background: #3c4b64;
   color: #fff;
}

#sidebar .sidebar-header {
   flex: 0 1 auto;
   width: 100%;
   background-color: #00000034;
   padding:  8px 16px;
}

#sidebar .sidebar-header .sidebar-title{
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  margin: 0;
}

#sidebar .sidebar-body {
   flex: 1 1 auto;
   width: 100%;
}

#sidebar .sidebar-footer {
   flex: 0 1 auto;
   width: 100%;
}

/* Navbar */
.content {
   width: 100%;
}

.navbar {
   font-size: 14px;
}

.navbar .navbar-nav {
   font-size: 14px;
}

.navbar .navbar-nav a.nav-link {
   padding: 8px !important;
}