.container-fluid {
   color: #59626b;
   font-size: 12px;
}

.card-form .card-header {
   background-color: #e3E5ED
}

.card-form .card-header .card-title,
.card-form .card-header .card-toggle-icon {
   font-size: 10px;
   font-weight: bold;
   text-transform: uppercase;
   color: #717c87;
}

.card-form .card-body .form-group>label {
   color: #59626b !important;
   font-weight: bold !important;
   font-size: 10px !important;
}

.card-form .card-body>p.preface {
   color: #5f6b77 !important;
   font-weight: bold !important;
}

/* Overlay */
.overlay {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   z-index: 2;
   background-color: #343a4023;
}

.state-icon {
   font-size: 2em;
   color: #d8dbe4;
}

.state-text {
   color: #a5a7aa;
   font-style: italic;
}

.list-wrapper {
   max-height: 40em;
   overflow-y: auto;
   overflow-x: hidden;
}

.member-profile {
   width: 32px;
   height: 32px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   vertical-align: middle;
   background-color: #ffe5d0;
   font-size: 11px;
   font-weight: bold;
   color: #997867;
   text-transform: uppercase;
   cursor: default;
}

.member-overlap-item {
   margin-right: -10px;
   border: 2px solid #fff;
}

.card-task {
   padding: 8px 14px;
   margin: 0;
}

.actions .action-item,
.dropdown-ellipsis .action-item {
   width: 32px;
   height: 32px;
   display: flex;
   justify-content: center;
   align-items: center;
   vertical-align: middle;
   margin: 0 3px;
   border: none !important;
   outline: none;
   border-radius: 50% !important;
   background-color: unset !important;
}

.actions .action-item:hover,
.actions .action-item:active {
   border: none;
   outline: none;
   background-color: #e5e8ee !important;
   color: #2c2e30 !important;
}

.dropdown-ellipsis .action-item:hover,
.dropdown-ellipsis .action-item:active {
   border: none;
   outline: none;
   background-color: #f0f1f4 !important;
   color: #2c2e30 !important;
}

.dropdown-ellipsis .dropdown-menu .dropdown-item {
   font-size: 12px;
}

.dropdown-ellipsis .dropdown-menu .dropdown-item:active {
   background-color: #FD7E14;
}

.dropdown-ellipsis .dropdown-menu .dropdown-item:active i {
   color: #fff !important;
}

.dropdown-menu-lg {
   width: 250px !important;
   white-space: nowrap !important;
}
/* 
.people-wrapper div:hover  {
   background-color: red;
} */

/* .nav-pills {
   border-bottom: 2px solid #dee2e6;
} */
.nav-tasks .nav-link {
   font-size: 10px;
   color: #5f6b77;
   border:none;   
   margin-right: 4px;
   transition: 0.2s;
}
.nav-tasks .nav-link:hover {
   background-color: #FD7E14 !important;
   color: #fff !important;
   box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.nav-tasks .nav-link.active {
   background-color: #FD7E14;
   color: #ffffff;
   box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.table-headers {
   margin: 12px;
}