.container-fluid {
   color: #59626b;
   font-size: 12px;
}

.profile-head {
   background: rgb(250,140,81);
   background: linear-gradient(90deg, 
      rgba(250,138,78,1) 0%, 
      rgba(253,155,102,1) 25%, 
      rgba(255,170,125,0.9023984593837535) 50%, 
      rgba(252,151,97,1) 75%, 
      rgba(250,138,78,1) 100%),
      url("../img/cover-bg.jpg"),
      no-repeat;
   background-size: cover;
   height: 150px;
   border: 0;
   border-radius: 0;
}

.profile-photo {
   position: absolute;
   top:0;
   left: 0;
   bottom: -80px;
   right: 0;
   width: 120px;
   height: 120px;
   margin: auto;
   border-radius: 50%;
   border: 4px solid #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   vertical-align: middle;
   background-color: #fccfaa;
   font-size: 40px;
   font-weight: bold;
   color: #997867;
   text-transform: uppercase;
}

.profile-online-status  {
   position: absolute;
   top:0;
   left: 0;
   bottom: -160px;
   right: -80px;
   margin: auto;
   padding: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   vertical-align: middle;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 4px solid #fff;
}

.profile-verified {
   font-size: 0.7rem;
}

.profile-info {
   text-align: center;
}
.profile-info .profile-name {
   color: #343a40 !important;
   font-weight: bold;
   font-size: 24px;
}

.profile-body {
   margin-top: 18px; 
}

.card-header {
   border: none;
}

.card-header .card-title {
   font-weight: bold;
}

.list-group-flush .list-group-item {
   border-style: dashed;
}

/* Modal */
.modal-md {
   max-width: 600px !important;
}

#modal-profile .modal-body .nav.nav-tabs {
   border-bottom: 2px solid #dee2e6;
}

#modal-profile .modal-body .nav .nav-item {
   margin-bottom: -2px;
   padding: 6px 16px;
   font-size: 10px;
   font-weight: bold;
   text-transform: uppercase;
   color: #95a4b5;
   border:none;   
   transition: ease-in-out;
}

#modal-profile .modal-body .nav .nav-item.active {
   border-bottom: 2px solid #FD7E14;
   color: #5f6b77;
}

.modal-body .text-muted {
   color: #95a4b5 !important;
}


.btn-upload{
   border: solid 1px #cdd5df;
   padding: 0.4rem 2rem;
   border-radius: 5px !important;
}
.upload-wrapper {
   position: relative;
   width: 100%;
   height: 250px;
   border: 1.5px dashed #cdd5df;
   background-color: #e3e5ed3d;
}
.upload-content > i {
   font-size: 50px !important;
   color: #b5bdc4;
}
.upload-content > p {
   color: #939BA2;
   font-size: 14px !important;
   font-weight: bold;
}
.upload-content .upload-info {
   color: #b5bdc4;
   font-size: 12px !important;
   font-style: italic;
}

.upload-overlay {
   position:absolute;
   width: 100%;
   height: 100%;
   z-index: 2;
   background-color: rgba(0,0,0,0.2);
}
.upload-overlay .progress {
   position: absolute;
   bottom:0;
   width: 100%;
}
.upload-overlay .progress-bar {
   font-weight: bold;
}
.upload-overlay .bg-orange {
   color: #FFF !important;
}

.upload-wrapper .upload-zone .card .btn-remove {
   padding: 12px;
   border-radius: 50% !important;
   height: 16px !important;
   width: 16px !important;
   font-size: 10px !important;
   text-align: center;
   padding: 0;
   position: absolute;
   right: -5px;
   top: -5px;
}
