{% extends '../../base.html' %}
{% load static %}

{% block title %} Archives {% endblock %}

{% block extrastyle %}
{% endblock %}

{% block content %}
<!-- Content Header -->
<section class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h5 class="font-weight-bolder">Archive </h5>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right text-xs">
               <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-orange"><i
                        class="fas fa-home"></i></a></li>
               <li class="breadcrumb-item">Configuration</li>
               <li class="breadcrumb-item">Status</li>
               <li class="breadcrumb-item active">List</li>
            </ol>
         </div>
      </div>
   </div>
</section>

<!-- /.content -->
{% if perms.config.view_status %}
<section class="content">
   <div class="container-fluid">

      <div class="row">
         <div class="col-12 m-0">
           <div class="d-flex flex-row-reverse row-actions">
               {% if perms.config.add_status %}
               <button class="btn btn-xs btn-orange btn-new" id="btn-create-status">
                  <i class="fas fa-plus"></i> <span>Add Status</span>
               </button>
               {% endif %}
           </div>
         </div>
      </div>

      <!-- Default box -->
      <div class="row">
         <div class="col-12 m-0">
            <div class="card bg-secondary mt-2 mb-2">
               <div class="card-body p-0">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col-12 col-sm-4 p-1 ">
                           <input id="search-input" type="search" class="form-control form-control-sm" placeholder="Search">
                        </div>
                        <div class="col-4 col-sm-2 p-1">
                           <select name="category" class="form-control" style="height: 30px;" id="status-active-select">
                              <option value=""></option>
                              <option value="1">Active</option>
                              <option value="0">Inactive</option>
                           </select>
                        </div> 
                        <div class="col-4 col-sm2 p-1">
                           <button id="execute-search" class="btn btn-success btn-sm">Search</button>
                        </div> 
                     </div>
                  </div>               
               </div>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-12 col-sm-12">
            <div class="card mt-2 mb-2">
               <div class="card-body p-1">
                  <table id="dt_forms" class="table table-hover" width="100%">
                     <thead>
                        <tr>
                           <th>Name</th>
                           <th>Is Active</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                  </table>
               </div>
            </div>
         </div>
      </div>

   </div>
   <input type="hidden" id="changeStatusHidden" value="{% if perms.config.change_status %}true{% else %}false{% endif %}">
   <input type="hidden" id="deleteStatusHidden" value="{% if perms.config.delete_status %}true{% else %}false{% endif %}">

</section>
{% else %}
   <section class="content">
      You don't have permission to view this page
   </section>
{% endif %}
{% endblock %}

{% block modal %}
<!-- Create -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content text-sm">
         <div class="modal-header">
            <h6 class="modal-title"></h6>
         </div>
         <div class="modal-body">
            <form id="form">
               <div class="form-group">
                  <!-- Name-->
                  <label>Name</label>
                  <input type="text" class="form-control form-control-sm" id="txt_typename"
                     placeholder="Enter status name">
                  <small class="error-info name-error"></small>
               </div>
               <div class="icheck-material-green m-0">
                  <!-- Is Active-->
                  <input type="checkbox" id="chk_status" checked />
                  <label for="chk_status">Is Active</label>
               </div>

            </form>
         </div>
         <div class=" modal-footer">
            <button type="button" class="btn btn-sm btn-outline-secondary" id="btn_cancel" data-dismiss="modal">
               <span>Cancel</span>
            </button>
            <button type="submit" class="btn btn-sm btn-outline-orange" id="btn_save"><span>Save</span></button>
         </div>
      </div>
   </div>
</div>

{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'src/js/config/status.js' %}"></script>
{% endblock %}