{% extends '../../base.html' %}
{% load static %}

{% block title %} Archives {% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'src/css/archive.css' %}">
{% endblock %}

{% block content %}
<!-- Content Header -->
<section class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h5 class="font-weight-bolder">Archive </h5>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right text-xs">
               <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-orange"><i
                        class="fas fa-home"></i></a></li>
               <li class="breadcrumb-item">Configuration</li>
               <li class="breadcrumb-item">Status</li>
               <li class="breadcrumb-item active">List</li>
            </ol>
         </div>
      </div>
   </div>
</section>

<!-- /.content -->
{% if perms.config.view_status %}
<section class="content">
   <div class="container-fluid">
      <!-- Default box -->
      <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mt-2 mb-2">
               <div class="card-header p-2">
                  <div class="card-title">Forms</div>
               </div>
               <div class="card-body p-1">
                  <table id="dt_forms_forms" class="table table-hover" width="100%">
                     <thead>
                        <tr>
                           <th>Name</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                  </table>
               </div>
            </div>
            <div class="card mt-2 mb-2">
               <div class="card-header p-2">
                  <div class="card-title">Status</div>
               </div>
               <div class="card-body p-1">
                  <table id="dt_forms_status" class="table table-hover" width="100%">
                     <thead>
                        <tr>
                           <th>Name</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                  </table>
               </div>
            </div>
            <div class="card mt-2 mb-2">
               <div class="card-header p-2">
                  <div class="card-title">Departments</div>
               </div>
               <div class="card-body p-1">
                  <table id="dt_forms_departments" class="table table-hover" width="100%">
                     <thead>
                        <tr>
                           <th>Name</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                  </table>
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mt-2 mb-2">
               <div class="card-header p-2">
                  <div class="card-title">Categories</div>
               </div>
               <div class="card-body p-1">
                  <table id="dt_forms_categories" class="table table-hover" width="100%">
                     <thead>
                        <tr>
                           <th>Name</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                  </table>
               </div>
            </div>
            <div class="card mt-2 mb-2">
               <div class="card-header p-2">
                  <div class="card-title">Category Types</div>
               </div>
               <div class="card-body p-1">
                  <table id="dt_forms_category_types" class="table table-hover" width="100%">
                     <thead>
                        <tr>
                           <th>Name</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                  </table>
               </div>
            </div>
            <div class="card mt-2 mb-2">
               <div class="card-header p-2">
                  <div class="card-title">Requests</div>
               </div>
               <div class="card-body p-1">
                  <table id="dt_forms_requests" class="table table-hover" width="100%">
                     <thead>
                        <tr>
                           <th>Ticket No.</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>

   <input type="hidden" id="deleteStatusHidden" value="{% if perms.config.delete_status %}true{% else %}false{% endif %}">

</section>
{% else %}
   <section class="content">
      You don't have permission to view this page
   </section>
{% endif %}
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'src/js/config/archive.js' %}"></script>
{% endblock %}