{% extends '../../base.html' %}
{% load static %}

{% block title %} Forms | {% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'src/css/form.css' %}">
{% endblock %}

{% block content %}
<!-- Content Header -->
<section class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h5 class="font-weight-bolder">Forms </h5>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right text-xs">
               <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-orange"><i
                        class="fas fa-home"></i></a></li>
               <li class="breadcrumb-item">Library</li>
               <li class="breadcrumb-item">Forms</li>
               <li class="breadcrumb-item active">List</li>
            </ol>
         </div>
      </div>
   </div>
</section>

<!-- /.content -->
<section class="content">
   <div class="container-fluid">

      <!-- Content Filters, Search and Create Section -->
      <div class="d-flex mb-1">
         <div class="dropdown dropdown-filter mr-2">
            <button class="btn btn-sm btn-light shadow-sm dropdown-filter-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-xs fa-filter m-0 d-inline d-md-none"></i>
               <span class="d-none d-md-inline pl-1">Filter <i class="fas fa-caret-down ml-1"></i></span>
            </button>
            <div class="dropdown-menu dropdown-menu-lg dropdown-filter-menu">
               <form id="form-filter">
                  <div class="p-3">
                     <div class="form-group mb-1">
                        <label for="active-filter">By Active </label>
                        <select class="form-control form-control-sm select-filter" id="active-filter">
                           <option value="">All</option>
                           <option value="0">Yes</option>
                           <option value="1">No</option>
                        </select>
                     </div>
                  </div>
                  <div class="dropdown-divider"></div>
                  <div class="d-flex flex-row-reverse pt-2 pb-2 pl-3 pr-3">
                     <div><button class="btn btn-sm btn-orange ml-1" id="btn_apply"> <span>Apply</span> </button></div>
                     <div><a class="btn btn-sm btn-link text-secondary" id="btn_clear"> <span>Clear</span> </a></div>
                     <div class="mr-auto"><a class="btn btn-sm btn-link text-secondary pl-0" id="close_dropdown"> <span>Close</span> </a></div>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-auto col-lg-3 p-0"> 
            <div class="input-group shadow-sm">
               <input type="search" class="form-control form-control-sm" placeholder="Search" id="search-input">
               <div class="input-group-append">
               <button class="btn btn-sm btn-outline-secondary" type="button" id="execute-search">
                     <i class="fas fa-sm fa-search"></i>
                  </button>
               </div>
            </div>
         </div>
         <div class="ml-auto">
            {% if perms.requests.add_requestform %}
            <button class="btn btn-xs btn-orange btn-new shadow-sm" id="btn-create-form"><i class="fas fa-xs fa-plus"></i> <span class="d-none d-sm-inline ml-1">Add Form</span></button>
            {% endif %}
         </div>
      </div>

   <!-- Table -->
      <div class="row">
         <div class="col-12 col-sm-12">
            <div class="card shadow-sm mt-2 mb-2">
               <div class="card-body p-0">
                  <table id="dt_forms" class="table table-hover" width="100%">
                     <template id="table_spinner">
                        <div class="d-flex justify-content-center align-items-center">
                           <div class="spinner-border text-orange mr-2" style="width: 1.2rem; height: 1.2rem;" role="status">
                           </div>
                           <span class="text-secondary">Fetching...</span>
                        </div>
                     </template>
                     <thead>
                        <tr>
                           <th>Name</th>
                           <th>Code</th>
                           <th>Color</th>
                           <th>Date Created</th>
                           <th>Date Modified</th>
                           <th>Is Active</th>
                        </tr>
                     </thead>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <input type="hidden" id="changeRequestFormHidden" value="{% if perms.requests.change_requestform %}true{% else %}false{% endif %}">
</section>
{% endblock %}

{% block modal %}
<!-- Create -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content text-sm">
         <div class="modal-header">
            <h6 class="modal-title"></h6>
         </div>
         <div class="modal-body">
            <form id="form">
               <nav>
                  <div class="nav nav-tabs mb-2" id="nav-tab" role="tablist">
                     <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#details" role="tab"
                        aria-controls="nav-home" aria-selected="true">Details</a>
                     <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#status" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Status</a>
                     <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#fields" role="tab"
                        aria-controls="nav-contact" aria-selected="false">Form Fields</a>
                  </div>
               </nav>
               <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="nav-home-tab">
                     <div class="form-group"> <!-- Color -->
                        <label>Highlight <span class="text-danger">*</span> </label>
                        <div class="d-flex flex-wrap mb-2 mb-lg-0" id="color_picker">
                           <button type="button" class="btn color-palette pine mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette jungle mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette moss mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette yale mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette sky mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette teal mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette grape mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette royal mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette redwood mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette persian mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette peanut mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette coffee mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette cider mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette sunflower mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette default mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette peach mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette dark mr-1 mb-1"></button>
                           <button type="button" class="btn color-palette stone mb-1"></button>
                        </div>
                        <small class="error-info" id="color_error"></small>
                     </div>
                     <div class="form-row">
                        <div class="form-group col-lg-9"> <!-- Name -->
                           <label>Name <span class="text-danger">*</span></label>
                           <input type="text" class="form-control form-control-sm" id="txt_name"
                              placeholder="Enter form name">
                           <small class="error-info" id="name_error"></small>
                        </div>
                        <div class="form-group col-lg-3"> <!-- Prefix -->
                           <label>Prefix Code <span class="text-danger">*</span></label>
                           <input type="text" class="form-control form-control-sm" id="txt_prefix" placeholder="Enter prefix code name" maxlength="4">
                           <small class="error-info" id="prefix_error"></small>
                        </div>  
                     </div>          
                     <div class="form-group"> <!-- Category Types -->
                        <label>Category Types</label>
                        <select class="form-control form-control-sm" id="select2_types" style="width: 100%" multiple>
                           <option></option>
                           {% for type in types %}
                           <option value={{type.id}}>{{type}}</option>
                           {% endfor %}
                        </select>
                        <small class="error-info"></small>
                     </div>
                     <div class="form-group"> <!-- Groups -->
                        <label>Groups</label>
                        <select class="form-control form-control-sm" id="select2_groups" style="width: 100%" multiple>
                           <option></option>
                           {% for group in groups %}
                           <option value={{group.id}}>{{group}}</option>
                           {% endfor %}
                        </select>
                        <small class="error-info"></small>
                     </div>
                     <div class="icheck-material-green m-0">
                        <!-- Is Active-->
                        <input type="checkbox" id="chk_status" checked />
                        <label for="chk_status">Is Active</label>
                     </div>                 
                  </div>
                  <!-- Status Tab -->
                  <div class="tab-pane fade status-body" id="status" role="tabpanel" aria-labelledby="nav-profile-tab">
                     <div class="form-row flex-row flex-nowrap mb-1">
                        <div class="col-6 col-lg-3"><label>Status / Step Name <span class="text-danger">*</span></label></div>
                        <div class="col-2 col-lg-1"> <label>Order <span class="text-danger">*</span></label></div>
                        <div class="col-8 col-lg-4"> <label>Officer</label></div>
                        <div class="col-2 col-lg-1 text-center"> <label>Is Client Step</label></div>
                        <div class="col-2 col-lg-1 text-center"> <label>Is Head Step</label></div>
                        <div class="col-2 col-lg-1 text-center"> <label>Has Approving</label></div>
                        <div class="col-2 col-lg-1 text-center"> <label>Has Pass/Fail</label></div>
                        <div class="col-2 col-lg-1 text-center"> <label>Has Event</label></div>
                        <div class="col"></div>
                     </div>
                     <div class="form-wrapper"></div>
                     <button type="button" class="btn btn-link mb-2" id="btn_add">
                        <i class="fas fa-xs fa-plus"></i>
                        <span>Add a another status/step</span>
                     </button>
                  </div>
                  <!-- JSON Field -->
                  <div class="tab-pane fade" id="fields" role="tabpanel" aria-labelledby="nav-contact-tab">
                     <div class="form-group">
                        <label>JSON</label>
                        <textarea class="form-control form-control-sm" placeholder="Enter form data" id="txt_json"
                           rows="14"></textarea>
                        <small class="error-info"></small>
                     </div>
                  </div>
               </div>

            </form>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-light m-0 mr-2" id="btn_cancel" data-dismiss="modal"><span>Cancel</span></button>
            <button type="submit" class="btn btn-sm btn-orange m-0" id="btn_save"><span>Save</span></button>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block extrascript %}
<script>
   function formStatusRow(count) {
      const form_row = `<div class="form-row flex-row flex-nowrap">
         <div class="form-group col-6 col-lg-3 select2-status-wrap">
            <select class="form-control form-control-sm select2_status" style="width: 100%">
               <option></option>
               {% for status in statuses %}
               <option value={{status.id}}>{{status}}</option>
               {% endfor %}
            </select>
            <small class="error-info status-error"></small>
         </div>
         <div class="form-group col-2 col-lg-1">
            <input type="number" class="form-control form-control-sm txt_order" placeholder="No">
            <small class="error-info name-error"></small>
         </div>
         <div class="form-group col-8 col-lg-4 select2-officer-wrap">
            <div class="d-flex align-items-start"> 
               <select class="form-control form-control-sm select2_officer" multiple style="width: 100%">
                  <option></option>
                  {% for user in users %}
                  <option value={{user.id}} data-groups="{{user.groups.all|safeseq|join:", "  }}"> {{user.first_name}} {{user.last_name}}</option>
                  {% endfor %}
               </select>
               <span class="badge badge-light ml-1 text-secondary select2_officer_count">0</span>
            </div>
            <small class="error-info officer-error"></small>
         </div>
         <div class="form-group col-2 col-lg-1">
            <div class="icheck-material-orange mt-1 mb-0 d-flex justify-content-center">
               <input type="checkbox" class="client-box" id="chk_is_client_${count}" />
               <label for="chk_is_client_${count}"></label>
            </div>
         </div>
         <div class="form-group col-2 col-lg-1">
            <div class="icheck-material-orange mt-1 mb-0 d-flex justify-content-center">
               <input type="checkbox" class="head-box" id="chk_is_head_${count}" />
               <label for="chk_is_head_${count}"></label>
            </div>
         </div>
         <div class="form-group col-2 col-lg-1">
            <div class="icheck-material-orange mt-1 mb-0 d-flex justify-content-center">
               <input type="checkbox" class="approving-box" id="chk_has_approving_${count}"/>
               <label for="chk_has_approving_${count}"></label>
            </div>
         </div>
         <div class="form-group col-2 col-lg-1">
            <div class="icheck-material-orange mt-1 mb-0 d-flex justify-content-center">
               <input type="checkbox" class="pass-fail-box" id="chk_has_pass_fail_${count}"/>
               <label for="chk_has_pass_fail_${count}"></label>
            </div>
         </div>
         <div class="form-group col-2 col-lg-1">
            <div class="icheck-material-orange mt-1 mb-0 d-flex justify-content-center">
               <input type="checkbox" class="event-box" id="chk_has_event_${count}"/>
               <label for="chk_has_event_${count}"></label>
            </div>
         </div>
         <div class="form-group col">
            <button type="button" class="btn btn-sm btn-block btn-remove">
               <i class="fas fa-times"></i>
            </button>
         </div>
      </div>`;
      return form_row;
   }
   function updateStatusOrder(status) {
      status.forEach(stat => {
         $('.form-wrapper').append(
            `<div class="form-row flex-row flex-nowrap">
               <div class="form-group col-6 col-lg-3 select2-status-wrap">
                  <select class="form-control form-control-sm select2_status" id="status_${stat.id}" style="width: 100%">
                     <option></option>
                     {% for status in statuses %}
                     <option value={{status.id}}>{{status}}</option>
                     {% endfor %}
                  </select>
                  <small class="error-info status-error"></small>
               </div>
               <div class="form-group col-2 col-lg-1">
                  <input type="number" class="form-control form-control-sm txt_order" id="order_${stat.id}" placeholder="Order">
                  <small class="error-info name-error"></small>
               </div>
               <div class="form-group col-8 col-lg-4 select2-officer-wrap">
                  <div class="d-flex align-items-start"> 
                     <select class="form-control form-control-sm select2_officer" multiple style="width: 100%" id="officer_${stat.id}">
                        <option></option>
                        {% for user in users %}
                        <option value={{user.id}} data-groups="{{user.groups.all|safeseq|join:", "  }}"> {{user.first_name}} {{user.last_name}}</option>
                        {% endfor %}
                     </select>
                     <span class="badge badge-light ml-1 text-secondary select2_officer_count">0</span>
                  </div>
                  <small class="error-info officer-error"></small>
               </div>
               <div class="form-group col-2 col-lg-1">
                  <div class="icheck-material-orange mt-1 mb-0 d-flex justify-content-center">
                     <input type="checkbox" class="client-box" id="chk_is_client_${stat.id}" />
                     <label for="chk_is_client_${stat.id}"></label>
                  </div>
               </div>
               <div class="form-group col-2 col-lg-1">
                  <div class="icheck-material-orange mt-1 mb-0 d-flex justify-content-center">
                     <input type="checkbox" class="head-box" id="chk_is_head_${stat.id}" />
                     <label for="chk_is_head_${stat.id}"></label>
                  </div>
               </div>
               <div class="form-group col-2 col-lg-1">
                  <div class="icheck-material-orange mt-1 mb-0 d-flex justify-content-center">
                     <input type="checkbox" class="approving-box" id="chk_has_approving_${stat.id}"/>
                     <label for="chk_has_approving_${stat.id}"></label>
                  </div>
               </div>
               <div class="form-group col-2 col-lg-1">
                  <div class="icheck-material-orange mt-1 mb-0 d-flex justify-content-center">
                     <input type="checkbox" class="pass-fail-box" id="chk_has_pass_fail_${stat.id}"/>
                     <label for="chk_has_pass_fail_${stat.id}"></label>
                  </div>
               </div>   
               <div class="form-group col-2 col-lg-1">
                  <div class="icheck-material-orange mt-1 mb-0 d-flex justify-content-center">
                     <input type="checkbox" class="event-box" id="chk_has_event_${stat.id}"/>
                     <label for="chk_has_event_${stat.id}"></label>
                  </div>
               </div>    
               <div class="form-group col">
                  <button type="button" class="btn btn-sm btn-block btn-remove">
                     <i class="fas fa-times"></i>
                  </button>
               </div>
            </div>`
         )

         // Select2 Config
         $('.select2_status').select2({
            allowClear: true,
            placeholder: 'Select status',
         })

         // Select2 Config
         $('.select2_officer').select2({
            allowClear: false,
            placeholder: 'Select officer',
            matcher: function(params, data) {
               let stringMatch = function(term, candidate) {
                  return candidate && candidate.toLowerCase().indexOf(term.toLowerCase()) >= 0;
               }
               // If there are no search terms, return all of the data
               if ($.trim(params.term) === '') {
                  return data;
               }
               // Do not display the item if there is no 'text' property
               if (typeof data.text === 'undefined') {
                  return null;
               }
               // Match text of option
               if (stringMatch(params.term, data.text)) {
                  return data;
               }
               // Match attribute "data-foo" of option
               if (stringMatch(params.term, $(data.element).attr('data-groups'))) {
                  return data;
               }
               // Return `null` if the term should not be displayed
               return null;
            },
            templateResult: function(state) {
               let data = $(state.element).data()
               let option = $(`<div><div class="font-weight-bold">${state.text}</div> ${data ? `<div class='text-xs'>${data.groups}</div>`: ''}</div>`);
               return option
            },
            templateSelection: function(state) {
               if (!state.id) return 'Select officer';
               return state.text;
            },
         });
      });
   }
</script>
<script type="text/javascript" src="{% static 'src/js/config/forms.js' %}"></script>
{% endblock %}