<div class="row" id="row-actions">
    <div class="col-12 col-sm-12">
       <div class="card card-form mt-2 mb-1">
          <a href="#collapseAction" data-toggle="collapse" aria-expanded="true" aria-controls="collapseAction">
             <div class="card-header p-2">
                <div class="card-title">Action</div>
             </div>
          </a>
          <div id="collapseAction" class="collapse show">
             <div class="card-body p-3">
               <div class="progress progress-action mb-2">
                  <div class="progress-bar bg-orange" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
               </div> 
               <div class="card card-schedule py-2 px-3 mb-2">
                  <div class="d-flex flex-column">
                     <p class="current-status text-orange" data-has-event="false" id="current_step"> {{ticket.status }}</p>
                     <small class="text-secondary">Current Step </small>
                  </div>
               </div>
                <form class="form-actions">
                     <div class="form-group {% if user.is_staff or user.is_superuser %} {% elif curr_step.is_client_step or curr_step.is_head_step %} d-none {% endif %}">
                        <label>Next Step: <span class="font-italic text-muted"> (Prev: {{prev_step.status}})</span></label> 
                        <select class="form-control form-control-sm" id="select2_nextstep" style="width: 100%">
                           {% for step in steps %}
                              <option value="{{step.status_id}}" {% if step.status == next_step.status %} selected {% endif %}>{{step.status}}</option>
                           {% endfor %}
                        </select>
                   </div>
                   <div class="form-group">
                     <label>Remarks</label>
                     <textarea class="form-control" id="txtarea-remark" rows="2" placeholder="Write your remarks here" maxlength=100></textarea>
                     <div class="d-flex">
                        <small class="text-muted d-block" id="error-info-remark">Optional. Maximum of 100 characters only.</small>
                        <small class="text-black-50 ml-auto"><span id="char_count">0</span>/100</small>
                     </div>
                   </div>
                   {% if curr_step.status != last_step.status or user.is_superuser %}
                   <div class="mt-3">
                        <button class="btn btn-block btn-orange btn-xs btn-accept mt-1" type="button" data-ticket-id="{{ticket.ticket_id}}" data-pass="true"><span>Pass</span></button>
                        <button class="btn btn-block btn-danger btn-xs btn-refuse mt-1" type="button" data-ticket-id="{{ticket.ticket_id}}" data-pass="false" data-prev-step="{{prev_step.status.pk}}" data-next-step="{{next_step.status.pk}}"><span>Fail</span></button>
                   </div>
                   {% endif %}
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>