{% for data in ticket.form_data %}
    {% if form.form_field.type == 'text' and form.form_field.id == data.id %}
    <div class="form-group">
        <label> {{form.title}} </label>
        <input type="text" class="form-control form-control-sm form_field_detail" id="{{form.form_field.id}}" value="{{data.value}}" placeholder="Enter {{form.title}}" {% if form.form_field.required == True %} required {% endif %}>
        <small class="error-info"></small>
    </div>
    {% elif form.form_field.type == 'textarea' and form.form_field.id == data.id  %}
    <div class="form-group">
        <label> {{form.title}} </label>
        <textarea class="form-control form-control-sm form_field_detail" id="{{form.form_field.id}}" placeholder="Enter {{form.title}}" rows="2" {% if form.form_field.required == True %} required {% endif %}>{{data.value}}</textarea>
        <small class="error-info" id="error-info-type"></small>
    </div>
    {% elif form.form_field.type == 'radio' and form.form_field.id == data.id  %}
    <div class="form-group">
        <label> {{form.title}} </label>
        <div class="radio-group form_field_detail" id="{{form.form_field.id}}">
            {% for opt in data.value %}
            <div class="icheck-material-orange icheck-inline m-0 mr-3">
                <input type="radio" id="{{opt.option_id}}" name="{{form.form_field.id}}" {% if opt.option_value == True %} checked {% endif %} option_name="{{opt.option_name}}"/>
                <label for="{{opt.option_id}}">{{opt.option_name}}</label>
            </div>
            {% endfor %}
        </div>
        <small class="error-info" id="error-info-type"></small>
    </div>
    {% elif form.form_field.type == 'checkbox' and form.form_field.id == data.id  %}
    <div class="form-group">
        <label> {{form.title}} </label>
        <div class="check-group form_field_detail" id="{{form.form_field.id}}" data-required-id="{{form.form_field.required}}">
            {% for opt in data.value %}
            <div class="icheck-material-orange icheck-inline m-0 mr-3">
                <input type="checkbox" id="{{opt.option_id}}" {% if opt.option_value == True %} checked {% endif %} option_name="{{opt.option_name}}" />
                <label for="{{opt.option_id}}">{{opt.option_name}}</label>
            </div>
            {% endfor %}
        </div>
        <small class="error-info" id="error-info-type"></small>
    </div>
    {% endif %}
{% endfor %}
