{% for data in ticket.form_data %}
    {% if form.form_field.id == data.id %}
        {% if form.form_field.type == 'text' or form.form_field.type == 'textarea'%}
        <li class="list-group-item d-flex p-3">
            <div class="mr-auto">{{form.title}} </div>
            <div class="font-weight-bold" style="width: 60% !important;">
                <p class="p-0 m-0 text-right">{{data.value}}</p>
            </div>
        </li>
        {% elif form.form_field.type == 'radio' %}
        <li class="list-group-item d-flex p-3">
            <div class="mr-auto">{{form.title}} </div>
            {% for opt in data.value %}
                {% if opt.option_value == True %} 
                <div class="font-weight-bold" style="width: 60% !important;">
                    <p class="p-0 m-0 text-right">{{opt.option_name}}</p>
                </div>
                {% endif %}
            {% endfor %}                       
        </li>
        {% elif form.form_field.type == 'checkbox' %}
        <li class="list-group-item d-flex p-3">
            <div class="mr-auto">{{form.title}} </div>
            {% for opt in data.value %}
                {% if opt.option_value == True %} 
                <div class="font-weight-bold" style="width: 60% !important;">
                    <p class="p-0 m-0 text-right">{{opt.option_name}},</p>
                </div>
                {% endif %}
            {% endfor %}
        </li>
        {% endif %}
    {% endif %}
{% endfor %}