<div class="my-4">
    <h5 class="text-dark font-weight-bold">DATA PRIVACY NOTICE</h5>
    <p class="text-dark">
        SPMC IHOMP shall protect and keep confidential the personal data that you submit or that the SPMC IHOMP collects
        from you, as required by the Data Privacy Act of 2012, as amended.
    </p>
</div>

<div class="my-4">
    <h6 class="h text-dark font-weight-bold">DATA COLLECTION</h6>
    <p class="text-dark">
        SPMC IHOMP collects the following personal information and sensitive personal information (collectively,
        personal data) such as:
    </p>
    <ol class="text-dark">
        <li>Full name</li>
        <li>Job Function</li>
        <li>License No</li>
        <li>Department/Ward</li>
        <li>Contact Number (mobile)</li>
        <li>Email Address</li>
    </ol>
    <p class="text-dark">
        SPMC IHOMP collects the personal data through the forms you manually or electronically accomplish through Track
        It System which can be accessed on <a href="https://trackit.spmcdvo.net"> https://trackit.spmcdvo.net</a>
    </p>
    <p class="text-dark font-weight-bold">SPMC IHOMP collects data to process your:</p>
    <ol class="text-dark">
        <li>Registration and update of Hospital Systems</li>
        <li> Locked Access and Deactivation of Hospital Systems</li>
    </ol>
</div>

<div class="my-4">
    <h6 class="h text-dark font-weight-bold">DATA PROTECTION</h6>
    <p class="text-dark">
        SPMC IHOMP will take reasonable efforts to protect personal data it collects by implementing reasonable security
        measures to prevent unauthorized access, collection, use, disclosure, copying, modification, disposal and other
        similar risks. While SPMC IHOMP has security implementation in place, it cannot completely guarantee the
        security of any personal data.
    </p>
</div>

<div class="my-4">
    <h6 class="h text-dark font-weight-bold">PRIVACY POLICY</h6>
    <p class="text-dark">
        SPMC IHOMP is committed to ensure that your privacy is protected. Should we ask you to provide certain
        information by which you can be identified when using the systems, you can be assured that it will only be used
        in accordance with this privacy policy.
    </p>
</div>

<div class="my-4">
    <h6 class="h text-dark font-weight-bold">RIGHTS OF DATA SUBJECTS</h6>
    <p class="text-dark">
        You have the following rights under the Data Privacy Act:
    </p>
    <ol class="text-dark">
        <li>The right to access</li>
        <li>The right to object;</li>
        <li>The right to erasure or blocking;</li>
        <li>The right to file a complaint;</li>
        <li>The right to rectify; and</li>
        <li>The right to data portability.</li>
    </ol>
    <div class="icheck-material-orange">
        <input type="checkbox" id="chk_agree" />
        <label for="chk_agree" class="font-weight-bold">
            I agree to that the information (personal and or sensitive personal data as provided
            under the Data Protection Act of 2012) collected through this form shall be used and retained)</label>
    </div>
    <div class="d-flex justify-content-around justify-content-md-start mt-3">
        <a href="{% url 'login' %}" class="btn btn-notice-outline btn-outline-secondary mr-md-3">
            <span> Not now</span>
        </a>
        <button type="button" class="btn btn-notice btn-orange" id="btn_agree" disabled>
            <span> Proceed </span>
        </button>
    </div>
</div>