{% extends '../error.html' %}
{% load static %}

{% block title %} 403 Forbidden {% endblock %}

{% block extrastyle %} 
<style>
    .display-1 {
        font-size: 16em;
        font-weight: bolder;
        color: #fa9f63 !important;
        display: inline-flex;
        align-items: center;
    }
    .lead {font-size: 14px !important;}
</style>
{% endblock%}

{% block content %}
    <div class="m-auto text-center">
        <h4 class="m-1">Error: 403 Forbidden</h4>
        <h1 class="display-1 m-0"> 4<i class="fas fa-sm fa-lock ml-2 mr-2"></i>3</h1>
        <p class="lead mb-1"> Sorry, access to this resource on the server is denied. </p> 
        <p class="lead"> Either check the url, <a class="btn-link-orange" href="{% url 'home' %}">go home </a> or feel free to report this issue.</p>
    </div>
{% endblock %}