{% extends '../../base.html' %}
{% load static %}

{% block title %} News & Events | {% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'vendor/fullcalendar/lib/main.min.css' %}">
<link rel="stylesheet" href="{% static 'src/css/calendar.css' %}">
{% endblock %}

{% block content %}
<!-- Content Header -->
<section class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h5 class="font-weight-bolder">Event Calendar</h5>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right text-xs">
               <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-orange"><i
                        class="fas fa-home"></i></a></li>
               <li class="breadcrumb-item">Calendar</li>
               <li class="breadcrumb-item active">List</li>
            </ol>
         </div>
      </div>
   </div>
</section>

<!-- /.content -->
<section class="content pb-3">   
   <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card card-form shadow-sm mt-2 mb-1">
                    <div class="card-header d-flex align-items-center px-2 py-1">
                        <div class="card-title">Events</div>
                        <div class="card-tools ml-auto">
                            <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseEvent" aria-expanded="false" aria-controls="collapseEvent"></button>
                        </div>
                    </div>
                    <div id="collapseEvent" class="collapse show">
                        <div class="card-body p-3">
                            <div class="text-center d-none" id="events_state">
                                <div class="state-icon"><i class="fas fa-calendar"></i></div>
                                <p class="m-0 state-text">No events created yet</p>
                            </div>
                            <div class="event-lists-wrapper">
                                <div class="input-group shadow-sm mb-4 event-search">
                                    <input type="search" class="form-control" placeholder="Search" id="search-input">
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-outline-secondary" type="button" id="execute-search">
                                            <i class="fas fa-sm fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                                {% comment %} <div class="event-spinner text-center">
                                    <div class="spinner-border spinner-border-sm text-orange" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div> {% endcomment %}
                                <div id="event_lists">
                                </div>
                                <div class="event-pagination">
                                    <nav aria-label="Event navigation">
                                        <ul class="pagination justify-content-end m-0 mt-3" id="event_pagination">
                                            <li class="page-item previous disabled" id="page_previous"><a class="page-link" href="#" tabindex="-1" aria-disabled="true" >Previous</a></li>
                                            <li class="page-item next disabled" id="page_next"><a class="page-link" href="#" >Next</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-8">
                <div class="card card-form shadow-sm mt-2 mb-1">
                    <div class="card-header d-flex align-items-center px-2 py-1">
                        <div class="card-title">Caledar</div>
                        <div class="card-tools ml-auto">
                            <button type="button" class="btn btn-tool btn-minimize" data-toggle="collapse" data-target="#collapseCalendar" aria-expanded="false" aria-controls="collapseCalendar"></button>
                        </div>
                    </div>
                    <div id="collapseCalendar" class="collapse show">
                        <div class="card-body p-2">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>          
            </div>         
        </div>   
    </div>
</section>
{% endblock %}


{% block modal %}
<!-- update event -->
<div class="modal fade" id="modalChangeEvent" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content text-sm">
         <div class="modal-header">
            <h6 class="modal-title">Update Event</h6>
         </div>
         <div class="modal-body">
           <form>
                <div class="form-row">
                    <div class="form-group col-md-12"> <!-- Color -->
                        <label>Highlight <span class="text-danger">*</span> </label>
                        <div class="d-flex flex-wrap mb-2 mb-lg-0" id="color_picker" data-highlight="{{event.highlight}}">
                            <button type="button" class="btn color-palette pine mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette jungle mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette moss mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette yale mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette sky mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette teal mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette grape mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette royal mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette redwood mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette persian mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette peanut mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette coffee mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette cider mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette sunflower mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette default mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette peach mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette dark mr-1 mb-1"></button>
                            <button type="button" class="btn color-palette stone mb-1"></button>
                        </div>
                        <small class="error-info" id="color_error"></small>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Title <span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control-sm form-text-required" placeholder="Enter event title" id="txt_title" value="{{event.title}}"> 
                        <small class="error-info" id="title_error"></small>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Subject</label>
                        <textarea type="text" class="form-control form-control-sm form-text-required" placeholder="Enter subject" id="txt_subject" maxlength=255>{{event.subject}}</textarea>
                        <div class="d-flex">
                            <small class="error-info" id="subject_error"></small>
                        </div>
                    </div>        
                    <div class="form-group col-md-12">
                        <label>Event For <span class="text-danger">*</span></label>
                        <select class="form-control form-control-sm form-select-required" id="select2_eventfor" style="width: 100%">
                            <option></option>
                            {% for form in forms %}
                            <option value={{form.id}}>{{form.name}}</option>
                            {% endfor %}
                        </select>
                        <small class="error-info" id="eventfor_error"></small>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="icheck-material-green m-0">
                            <input type="checkbox" id="chk_status" checked />
                            <label for="chk_status">Is Active</label>
                        </div>
                    </div>
                </div>
            </form>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-light m-0 mr-2" id="btn_cancel" data-dismiss="modal">
               <span>Cancel</span>
            </button>
            <button type="submit" class="btn btn-sm btn-orange m-0" id="btn_save"><span>Save</span></button>
         </div>
      </div>
   </div>
</div>

<!-- view event -->
<div class="modal fade" id="modalViewEvent" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content text-sm">
         <div class="modal-header" id="event_header">Details</div>
         <div class="modal-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex p-2 pt-3 pb-3"> 
                    <div class="mr-auto list-modal-key">Event Title</div>
                    <div class="font-weight-bold" style="width: 60% !important;">
                        <p class="p-0 m-0 text-right" id="event_title"></p>
                    </div>
                </li>
                <li class="list-group-item d-flex p-2 pt-3 pb-3">
                    <div class="mr-auto list-modal-key">Event Subject</div>
                    <div class="font-weight-bold" style="width: 60% !important;">
                    <p class="p-0 m-0 text-right" id="event_subject"></p>
                    </div>
                </li>
                 <li class="list-group-item d-flex p-2 pt-3 pb-3">
                    <div class="mr-auto list-modal-key">Attendance</div>
                    <div class="font-weight-bold" style="width: 60% !important;">
                    <p class="p-0 m-0 text-right" id="event_attendance"></p>
                    </div>
                </li>
                <li class="list-group-item d-flex p-2 pt-3 pb-3">
                    <div class="mr-auto list-modal-key">Date Start</div>
                    <div class="font-weight-bold" style="width: 60% !important;">
                    <p class="p-0 m-0 text-right" id="event_date_start"></p>
                    </div>
                </li>
                <li class="list-group-item d-flex p-2 pt-3 pb-3">
                    <div class="mr-auto list-modal-key">Date End</div>
                    <div class="font-weight-bold" style="width: 60% !important;">
                    <p class="p-0 m-0 text-right" id="event_date_end"></p>
                    </div>
                </li>
            </ul>
         </div>
         <div class="modal-footer">
            <a class="mr-auto m-0 p-0 text-xs text-danger" id="btn_delete"> Remove? </a>
            <button type="button" class="btn btn-sm btn-light m-0" id="btn_cancel" data-dismiss="modal"><span>Close</span></button>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'vendor/fullcalendar/lib/main.min.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/events/calendar.js' %}"></script>
{% endblock %}