{% extends '../../base.html' %}
{% load static %}

{% block title %} Events | {% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'src/css/event.css' %}">
{% endblock %}

{% block content %}
<!-- Content Header -->
<section class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h5 class="font-weight-bolder">View Event</h5>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right text-xs">
               <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-orange"><i
                        class="fas fa-home"></i></a></li>
               <li class="breadcrumb-item">Events</li>
               <li class="breadcrumb-item"><a href="{% url 'event' %}" class="btn-link-neutral">List</a> </li>
               <li class="breadcrumb-item active" data-event-id="{{event.pk}}" id="event_id">Event: {{event.title|truncatechars:25}}</li>
            </ol>
         </div>
      </div>
   </div>
</section>

<!-- /.content -->
<section class="content pb-4">
   <div class="container-fluid">
      <div class="overlay d-none"></div>
      
      <div class="d-flex flex-row-reverse mb-1">
         <a href="{% url 'change_event' event.pk %}" class="btn btn-light text-secondary ml-2" data-article-id="{{event.pk}}">
            <i class="fas fa-sm fa-pencil-alt"></i> <span>Update Event</span> 
         </a>
      </div>

      <div class="row">
         <div class="col-12 col-sm-12 col-md-12 col-lg-4">                     
            <div class="row" id="row-information">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1">
                     <a href="#collapseInformation" data-toggle="collapse" aria-expanded="true" aria-controls="collapseInformation">
                        <div class="card-header p-2">
                           <div class="card-title">Event</div>
                        </div>
                     </a>
                     <div id="collapseInformation" class="collapse show">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-detail mt-2 mb-1" style="border-left-color:{{event.highlight}}">
                                        <div class="card-body p-0 m-0">
                                        <p class="context text-truncate">{{event.title}}</p>
                                        <span class="label">Title</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card card-detail mt-2 mb-1" style="border-left-color:{{event.highlight}}">
                                    <div class="card-body p-0 m-0">
                                       <p class="context text-truncate">
                                          {% if event.subject %} {{event.subject}} 
                                          {% else %} <span style="color: #e3e5ed"> The quick brown fox jumps over the lazy dog.</span> 
                                          {% endif %}
                                       </p>
                                       <span class="label">Subject</span>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card card-detail mt-2 mb-1" style="border-left-color:{{event.highlight}}">
                                    <div class="card-body p-0 m-0">
                                        <p class="context text-truncate">{{event.event_for.name}}</p>
                                        <span class="label">Event For</span>
                                    </div>
                                    </div>
                                </div>
                                 <div class="col-12">
                                    <div class="card card-detail mt-2 mb-1" style="border-left-color:{{event.highlight}}">
                                    <div class="card-body p-0 m-0">
                                        <p class="context text-truncate">{{event.date_created|date:"d F Y h:i A"}} {% if event.created_by %} | {{event.created_by}} {% endif %}</p>
                                        <span class="label">Created By</span>
                                    </div>
                                    </div>
                                </div>
                                {% if event.date_modified %}
                                <div class="col-12">
                                    <div class="card card-detail mt-2 mb-1" style="border-left-color:{{event.highlight}}">
                                    <div class="card-body p-0 m-0">
                                        <p class="context text-truncate">{{event.date_modified|date:"d F Y h:i A"}} {% if event.modified_by %} | {{event.modified_by}} {% endif %}</p>
                                        <span class="label">Last Modified</span>
                                    </div>
                                    </div>
                                </div>
                                {% endif %}
                                 <div class="col-12">
                                       <div class="card card-detail mt-2 mb-1" style="border-left-color:{{event.highlight}}">
                                          <div class="card-body p-0 m-0">
                                          <div class="mr-auto">
                                             <p class="context">{% if article.is_active %} Active {% else %} In Active {% endif %}</p>
                                             <span class="label">Is Active</span>
                                          </div>
                                          </div>
                                       </div>
                                 </div>
                            </div>
                        </div>
                     </div>
                  </div>   
               </div>
            </div>
         </div>
         <div class="col-12 col-sm-12 col-md-12 col-lg-8">
            <div class="row" id="row-schedule">
               <div class="col-12 col-sm-12">
                  <div class="card card-form mt-2 mb-1"  style="border-bottom-left-radius: 5px !important;">
                     <a href="#collapseDetails" data-toggle="collapse" aria-expanded="true" aria-controls="collapseDetails">
                        <div class="card-header p-2">
                           <div class="card-title">Schedule</div>
                        </div>
                     </a>
                     <div id="collapseDetails" class="collapse show">
                        <div class="card-body p-0">
                           <table id="dt_schedules" class="table table-hover" width="100%">
                              <thead>
                                 <tr>
                                    <th>Date</th>
                                    <th>Time Start</th>
                                    <th>Time End</th>
                                    <th>Attendance</th>
                                    <th>Is Active</th>
                                 </tr>
                              </thead>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>  
         </div>
      </div>
   </div>
</section>


<div class="modal modal-attendance fade" id="viewSchedule" tabindex="-1" role="dialog" aria-labelledby="attachmentModal" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content text-sm">
         <div class="modal-header align-items-center">
            <div class="modal-title text-secondary font-weight-bold text-uppercase d-flex">Attendance | 
               <div class="title-date text-orange m-0 ml-1"></div>
               <div class="title-time m-0 ml-1"></div>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body overflow-auto">
            <div class="card-heading row">
               <div class="col col-3">Ticket</div>
               <div class="col col-3">Requestor</div>
               <div class="col col-3">Status</div>
               <div class="col">Attended</div>
               <div class="col">Remove</div>
            </div>
            <div class="attandance-wrap">
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-light m-0" id="btn_close" data-dismiss="modal"><span>Close</span> </button>
            <button type="submit" class="btn btn-sm btn-orange m-0 ml-2" id="btn_save"><span>Save</span> </button>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'src/js/events/event_view.js' %}"></script>
{% endblock %}